[2019-02-18 14:21] bzz opened #6 "Add an option to produce the exact code2vec output format"
From a quick glance, current implementation produces an "output format inspired by code2vec" and has a allJavaMethods example.

It would be very nice if there is also an option for producing the exact [code2vec output format](https://github.com/tech-srl/code2seq#extending-to-other-languages) in a .csv, so it could replace existing `*Extractor`s and be used as an input to [preprocess.py](https://gi

[2019-02-18 14:34] vovak commented on #6
It's a great idea! It would make it much easier to reproduce / extend code2vec to other languages.

@egor-bogomolov, as you're working on pbr-lib now, could you please consider implementing this once you have time?

[2019-02-18 14:36] egor-bogomolov commented on #6
Thanks for a nice idea.
@vovak Sure, I'll work on this as soon as I have time.

[2019-02-18 15:22] bzz commented on #6
After taking a bit closer look at [code2vec java extractor](https://github.com/tech-srl/code2vec/blob/master/JavaExtractor/JPredict/src/main/java/JavaExtractor/FeatureExtractor.java#L120), it seems that it's not that easy to replace whole Extractor as it:
 - manipulates paths and label names (e.g splitting the method names, removes numerical values, etc)
 -  quite coupled with [JavaParser internal

[2019-02-18 15:29] vovak commented on #6
IMO, it is not necessary to strive to reproduce the exact output of code2vec's java extractor.
Merely producing output that is compatible with the rest of code2vec's pipeline looks feasible, at least as the first step.

[2019-02-18 15:41] bzz commented on #6
Yes, that sounds very reasonable. It would still requite splitting method names on sub-tokens, but that can be well localized inside another "example" application that uses pbr library.

[2019-03-11 13:46] vovak opened #11 "fix CI integration"
Travis integration has been broken by a rename. We have to fix it.

[2019-03-11 13:57] vovak commented on #11
Builds ran fine, the issue was just the button. Fixed.

[2019-03-11 13:57] #11 closed

[2019-03-19 21:44] egor-bogomolov opened #12 "Do releases in CI"
Create release job in Travis CI as described in #9

[2019-03-30 00:03] bzz opened #14 "Exception parsing C"
Hey, great progress on the project!

Could you please help me understand the current status of C support?

It seems like the Cpp lexer/parser from Joern should be able to handle it, but that is what happens when I try:

[code]

results in

[code]

Please, let me know if I missed something here, and thanks in advance!

[2019-03-30 20:35] egor-bogomolov commented on #14
Thank you for opening this issue, I will try to describe our work on C support here.
1. We have tried [C](https://github.com/antlr/grammars-v4/tree/master/c) and [C++](https://github.com/antlr/grammars-v4/tree/master/cpp) grammars from antlr repository but they require running C preprocessor beforehand. Since preprocessing heavily modifies the code, we think that this way is not optimal for applyi

[2019-03-30 23:32] egor-bogomolov opened #15 "Documentation"
In order to make life of potential contributors and users of astminer easier, we should write extensive documentation.

[2019-03-31 00:15] egor-bogomolov commented on #14
I have created a branch with a wrapper of Joern output, steps required to use it and a minimalistic example. Refer to #16 for the updates.

Thanks for arising the C-support issue!

[2019-04-12 15:15] egor-bogomolov commented on #14
#16 was merged, I close the issue. Guide for C parsing is available in README.

[2019-04-12 15:15] #14 closed

[2019-04-25 20:22] vovak opened #18 "Extract python example to a separate repo"
The python example takes most of the build time and is not relevant to most users. It should be extracted to a separate repository, and use astminer as a dependency.

[2019-05-01 19:55] bzz commented on #18
It might also make sense to look into having them as a separate [gradle subproject](https://docs.gradle.org/current/userguide/multi_project_builds.html) inside the same repository, which is not built by default. Having multiple repositories can quickly complicate the maintenance, as basically one has to do multiple PRs in different places.

[2019-05-02 14:14] vovak commented on #18
@bzz makes sense, thanks for the suggestion!
I'll move the python example to a submodule.

[2019-06-05 11:45] RamSaw opened #20 "Handle ".java" endings in directory names"
Running utility I've got an error:
`
java.io.FileNotFoundException: /home/mikhail/Documents/Development/java_hw_au_hse_dataset/hse-19/babushkin/hw6.java (Is a directory)/home/mikhail/Documents/Development/java_hw_au_hse_dataset/hse-19/babushkin/hw5.java
java.io.FileNotFoundException: /home/mikhail/Documents/Development/java_hw_au_hse_dataset/hse-19/babushkin/hw5.java (Is a directory)/home/mikhail/

[2019-06-05 11:50] vovak commented on #20
Good one! Thanks. I’ll take a look

Verstuurd vanaf mijn iPhone

[2019-06-05 13:08] vovak commented on #20
@RamSaw Fixed. Feel free to use the version in the branch for now.

[2019-06-08 13:07] #20 closed

[2019-07-02 09:57] egor-bogomolov opened #22 "Add JS support"
Add JS support via
1. ANTLR grammar
2. Wrap an existing tool

[2019-07-26 18:21] alonsopg opened #25 "FileNotFoundError: processed_data/tokens.csv while trying to run the example?"
Hi, while trying to run the example I am getting a `FileNotFoundError`, this is what I did:
[code]
What is the correct way of generating `tokens.csv` file?

[2019-07-30 18:20] vovak commented on #25
hi @alonsopg, thanks for finding this.
We might have broken the examples in one of the recent changes, I'll make sure it's fixed asap.

[2019-07-31 03:00] vovak commented on #25
Should run fine now.

[2019-07-31 03:00] #25 closed

[2019-07-31 03:11] alonsopg commented on #25
Thanks for the help!

[2019-07-31 15:37] elena-lyulina commented on #12
#24 was merged, so releases can be done by using CircleCI job

[2019-07-31 15:37] #12 closed

[2019-08-28 16:10] egor-bogomolov commented on #6
Hello San, we kind of forgot about this issue/enhancement. I will try to implement it later this week.

[2019-09-16 12:56] hsellik commented on #6
Hi,

Is there any progress on this issue, @egor-bogomolov ?

[2019-09-16 12:58] egor-bogomolov commented on #6
@hsellik yes, I've just finished implementing it. It is available in code2vec-output branch. Also, CLI is on the way, and you will be able to generate code2vec input from terminal with a few commands.

[2019-09-30 10:11] utkarsh-agrawaal commented on #22
Hey, any update on JS support?

[2019-09-30 15:22] elena-lyulina commented on #22
Hey @utkarsh-agrawaal, the news is as follows:
For the first, we hope to add JS support via ANTLR grammar in a few days, but there are some issues since a context-free grammar does not describe JS syntax ([here](https://github.com/antlr/grammars-v4/blob/master/javascript/README.md) you can read about it in detail), so make sure it’s okay for you.
For the second, we were unable to find any tool tha

[2019-10-12 18:59] HaseebLUMS commented on #22
Hey @elena-lyulina , any update om JS support?

[2019-10-14 16:41] elena-lyulina commented on #22
Hey @HaseebLUMS
The beta version of JS parser is under review.
May I ask what is your purpose of this parser usage?

[2019-10-14 16:44] HaseebLUMS commented on #22
@elena-lyulina
I need it for using it with **code2vec** for my project in which I am applying different ML techniques on scripts of web pages.

When should I expect to see JS parser publicly released?

[2019-10-14 16:54] elena-lyulina commented on #22
@HaseebLUMS
Let's see what @egor-bogomolov can say about it, cause the review stage depends on him

[2019-10-15 11:18] HaseebLUMS commented on #22
Hello @egor-bogomolov
Can you please give a tentative time when JS parser will be ready?

[2019-10-15 13:23] egor-bogomolov commented on #22
@HaseebLUMS I will review parser's code tonight.

[2019-10-15 13:42] HaseebLUMS commented on #22
@egor-bogomolov
Thank you. Will the output of this parse will be compatible with code2vec like other parsers?

[2019-10-15 13:45] egor-bogomolov commented on #22
@HaseebLUMS hope so :)

[2019-10-21 04:28] SomanshuKalra commented on #6
Hi @egor-bogomolov,
Is this enhancement available?

[2019-10-21 05:26] egor-bogomolov commented on #6
@SomanshuKalra the feature is implemented both in library and in CLI. Check out [CLI subfolder](https://github.com/vovak/astminer/tree/master/astminer-cli)

[2019-10-22 03:25] SomanshuKalra commented on #6
Thanks @egor-bogomolov !

[2019-10-28 05:55] bzz commented on #6
Going to take a liberty of closing this now, as it was added at https://github.com/vovak/astminer/pull/32 under [astminer-cli#code2vec](https://github.com/vovak/astminer/tree/master/astminer-cli#code2vec) by @egor-bogomolov 🙇

[2019-10-28 05:55] #6 closed

[2019-11-06 12:52] kvenux commented on #22
@egor-bogomolov Hi, how's it going?
Need some supports here. Many thanks!

[2019-11-18 13:28] FiV0 opened #47 "Tried to add Clojure support."
I tried to [add](https://github.com/FiV0/astminer/commit/a05809114e97e386409734d15f3732e3c45c35e6) the ANTLR parser for clojure.

I am getting an error at this [line](https://github.com/vovak/astminer/blob/430bbc2cb30396dbd856a268917753ad739c20cf/src/main/kotlin/astminer/parse/antlr/AntlrUtil.kt#L35). I think it's rather an issue from the ANTLR grammar as it seems to be quite a hack, but wanted to

[2019-11-18 13:32] egor-bogomolov commented on #47
@FiV0 thanks for reporting the issue! Could you please share the link to the repository with Clojure integration and the failing example? I'll look into it tonight.

[2019-11-18 13:38] FiV0 commented on #47
@egor-bogomolov
This branch has the files: https://github.com/FiV0/astminer/tree/clojure-support
You just need to run `/.gradlew test` and one test will fail.
To get the stacktrace you need to comment out the try statement in the [ClojureParser.kt](https://github.com/FiV0/astminer/blob/clojure-support/src/main/kotlin/astminer/parse/antlr/clojure/ClojureParser.kt)

[2019-11-18 13:54] SpirinEgor opened #48 "Add GumTree to cli"
Support GumTree in astminer-cli

[2019-11-19 08:34] egor-bogomolov commented on #47
@FiV0
I've reproduced the failure yesterday but didn't find out the initial reason. I will give it one more shot today.

[2019-11-21 12:08] mxzf0213 opened #50 "The cli.jar downloaded don't support pathContexts"
H:\jupyter>java -jar cli.jar pathContexts --lang c --project code+data_process --output code+data_paths --maxH 8 --maxW 2 --maxContexts 200 --maxTokens 1300000 --maxPaths 9000000

Exception in thread "main" java.lang.Exception: The first argument should be task's name: either 'preprocess' or 'parse'
        at cli.MainKt.main(Main.kt:14)

[2019-11-21 12:15] egor-bogomolov commented on #50
Seems like it's time to upload a newer version of CLI :)
Working on it.

[2019-11-21 12:51] mxzf0213 commented on #50
Thanks for the quick response and waiting for your newer version.

[2019-11-21 16:22] egor-bogomolov commented on #50
@mxzf0213 we released newer versions of both the library and CLI. Please, download the CLI again. If everything is okay, I will close the issue.

[2019-11-22 00:25] mightyuser opened #53 "ASTMiner COBOL output"
I have added ANTLR grammer of COBOL to ASTMiner and implemented the wrapper. When I run the ASTMiner, it generates the below files:

node_types.csv
path_contexts.csv
paths.csv
tokens.csv

I know this ASTMiner output is compatible with code2vec. I need some help/pointers on how to use this output in code2vec to get predictions.

[2019-11-22 03:10] mxzf0213 commented on #50
(base) dongyu@dongyu-Erazer-X310:~/桌面$ java -jar cli.jar pathContexts --lang c --project code+data_process --output code+data_paths --maxH 8 --maxW 2 --maxContexts 200 --maxTokens 1300000 --maxPaths 9000000
Ignoring path and token limit settings due to batchMode processing

Does it mean the last two parameters are useless?

Also,the pathContexts generate several sub files,containing 100 code paths

[2019-11-22 03:15] mxzf0213 commented on #50
By the way, if the code contains several functions, does the single pathContext include them all？

[2019-11-22 07:13] mxzf0213 commented on #53
I think you need to convert the path_contexts.csv to the format like tuples(source,path,target,mask) in order to be used in the code2vec.

You can refer to [preprocess.sh](https://github.com/tech-srl/code2vec/blob/master/preprocess.sh) which I think will be helpful:)

[2019-11-22 12:16] egor-bogomolov commented on #50
Right now path and token limits are ignored because we split data into batches for faster processing. We will add an option to turn it off soon.
Also, you can look into "code2vec" option. It generates path contexts for individual functions and its output can be used in the original code2vec implementation.

[2019-11-22 12:17] egor-bogomolov commented on #53
Please, check out the "code2vec" option of the CLI, it may better suit your needs.

[2019-11-22 13:58] egor-bogomolov commented on #50
I looked into your issue and indeed found some bugs, thanks a lot! Working on fixes.

[2019-11-25 05:54] v587su opened #56 "Cli do not support individual java method"
The code below can not be parsed correctly using the code2vec option.
[code]
There are nothing in the output files.

[2019-11-25 05:57] v587su commented on #56
It seems that the version of CLI downloaded from the link in README is 0.3.

[2019-11-25 06:24] v587su commented on #56
Sorry to bother. It is ok now with version 0.3.

[2019-11-25 06:24] #56 closed

[2019-11-25 08:29] mightyuser commented on #53
I did look at preprocess.sh, it is actually preprocess new dataset, extracting paths from the source code, etc., which is already done in our case, we are using trained model, preprocessed data already provided by code2vec and paths are already extracted by ASTMiner.

Now the question is how to used ASTMiner output directly in code2vec.

[2019-11-25 13:16] v587su opened #57 "The tokens in tokens.csv are all lowercase"
I can not split them when they are in camel case. Could you please add an option to keep upper case letters？

[2019-11-25 13:18] egor-bogomolov commented on #57
Which task do you run?
I guess we can add an option to split them straight-away as it is done in `parse` task.

[2019-11-25 13:21] v587su commented on #57
I use the pathContexts task.

[2019-11-25 13:26] egor-bogomolov commented on #57
Okay, I will add the functionality for this!

[2019-11-25 13:33] v587su commented on #57
Thanks a lot.

[2019-12-05 05:54] v587su commented on #57
I removed the ' toLowerCase() 'in astminer/src/main/kotlin/astminer/common/TreeUtil.kt  line62. But after building , the tokens are still in lowercase.
@egor-bogomolov Could you tell me where should I modify?

[2019-12-05 07:45] egor-bogomolov commented on #57
@v587su I assume that you are modifying the library and building the CLI then. In order to see changes, you should point CLI to the local build of the library. To do so, modify `astminer-cli/build.gradle.kts`. If you need further help with it, don't hesitate to ask.

[2019-12-05 10:14] appupulla opened #60 "cli.jar produces inconsistent results"
I am trying to generate the code2vec data using the cli.jar on a bunch of custom program files.
Running the cli.jar on several files C,CPP files in my dataset, it generates **10130 tokens**, **64054 paths** and **76050 path contexts.**
**Error:** The **path_contexts.csv** file contains token ids which is **greater than 10130** and path_ids **greater than 64045** hence crashing my code2vec training

[2019-12-05 11:30] egor-bogomolov commented on #60
Hello! Could you please share the generated data?

[2019-12-05 11:40] appupulla commented on #60
[processed_data.zip](https://github.com/JetBrains-Research/astminer/files/3926612/processed_data.zip)
I have attached the generated data. I had to restrict to giving you just 10 path contexts in view of the file size limit.

[2019-12-05 11:54] egor-bogomolov commented on #60
Are those the whole tokens and paths files? It seems like a huge mismatch compared to indices in path_contexts.csv.
Could you also share the exact command that you used to run the jar?

[2019-12-05 12:01] egor-bogomolov commented on #60
Also, did you run preprocessing beforehand?

[2019-12-05 12:02] appupulla commented on #60
Yes the tokens and paths files are complete. The mismatch is the problem.
I ran it using the following command.
java -Xmx45g -jar cli.jar code2vec --lang c,cpp --project /home/c_cpp_data/ --output /home/code2vec_train/ --maxH 5 --maxW 3 --maxContexts 1000000 --maxTokens 100000 --maxPaths 100000. This command gave me the above mentioned numbers.
However the attached output I have shared are without

[2019-12-05 12:02] appupulla commented on #60
Yes I did run preprocessing before hand and that did not solve my issue either.

[2019-12-05 12:03] egor-bogomolov commented on #60
Thanks for the complete information, looking into it.

[2019-12-05 12:04] appupulla commented on #60
Thanks a lot @egor-bogomolov. Appreciate the help and quick responses

[2019-12-05 12:06] egor-bogomolov commented on #60
Which version of the CLI did you use?

[2019-12-05 12:07] appupulla commented on #60
astminer-cli-0.3-all.jar

[2019-12-05 12:20] egor-bogomolov commented on #60
Are you sure that it was the command? I'm not sure if it is important but for me, astminer-cli-0.3-all generates path_contexts files in a different format (space-separated triples of indices, not semicolon-separated).

[2019-12-05 12:27] egor-bogomolov commented on #60
Also, if the data that you used is publicly available, could you provide a link to download it (e.g., github repo that you parsed)?

[2019-12-05 12:36] appupulla commented on #60
Yes that was the command. I edited the path_contexts.csv to suit the code2vec training in the py_example code. The data is not publicly available.

[2019-12-05 12:38] egor-bogomolov commented on #60
Oh, okay, we should make this part simpler.

[2019-12-05 14:49] egor-bogomolov commented on #60
So far I've checked code and run the CLI on several projects of different size. The issue hasn't reproduced for me yet. Could you share the script that converts output to be compatible with py example?

[2019-12-05 16:34] egor-bogomolov commented on #48
Done in #58 and #59. You can use it right now by building the master version of CLI or wait for the next release.

[2019-12-05 16:34] #48 closed

[2019-12-06 03:53] appupulla commented on #60
The script just strips and replaces the string of commas spaces and semicolons. I will run it on a small set of my data and replicate the error and send the data over to you.

[2019-12-07 06:39] shaunakpp opened #62 "Trying to add Corundum(Ruby) support on my fork"
Hi, first of all, huge 👍 for building this project! It is so handy, especially, when working with [code2vec](https://code2vec.org)!

I tried to add Ruby support on my local fork using [these](https://github.com/JetBrains-Research/astminer#other-languages) instructions. But I'm getting the following error when I run `./gradlew run`

[code]

This may be a problem with the `Corundum.g4` parser file,

[2019-12-07 10:37] egor-bogomolov commented on #62
Hi @shaunakpp! I will look into your example. We've had similar errors along the way, usually they mean that some node is in fact a leaf node but

[2019-12-07 12:54] egor-bogomolov commented on #62
The problem was with a node of type `terminator`. It represents separator between statements (semicolon or linebreak). Normally it is not a terminal node (i.e., leaf node) because it has the separator symbol as its child. It looks like `terminator|crlf|CRLF`.

However, at the end of file, the parser expects one more terminator. In your case, there is no linebreak at the end of the file, and the te

[2019-12-07 14:41] egor-bogomolov commented on #47
Sorry for the late reply, but I fixed the problem. For Clojure, some characters like braces do not have a special type in grammar and we need a special workaround for this case.
To fix the issue, update TreeUtil:convertTerminal as follows:
[code]

And add a null-check in TreeUtil:convertRuleContext: `ruleContext.children.forEach` -> `ruleContext.children?.forEach`

I will update our implementation

[2019-12-08 04:24] shaunakpp commented on #62
HI @egor-bogomolov thank you so much for the help, changing the grammar did the trick! Is it okay if I close this issue?

[2019-12-08 09:19] #62 closed

[2019-12-09 04:59] appupulla commented on #60
Hi Egor,
I error cannot be replicated on a small amount of data. I am running it on a huge set of data that contains over 3000 c and cpp files each one having more than 1000 lines of code. The dataset is too huge to upload here. I tried replicating it on 100 c and cpp files and the error does not exist. May be there's a bug in the partitioning of path_context files. Can you please try running it o

[2019-12-09 06:46] v587su commented on #57
Sry, I'm not familiar with gradle. I tried many times. And change the dependency of astminer-cli to `implementation(files("astminer-0.5.4.jar"))`.
But it seems that I build the library in a wrong way. Is this command "./gradlew build" right? Should I point the CLI  to the jar file or the build dir?

[2019-12-09 07:30] appupulla commented on #60
Ran the cli on just 30 files and the number of tokens generated was 4396 while running on 3000 files gives just ~7900 tokens which is less than <50% change on 100 times more files.
Data Folder structure:
main folder
    folder1
        1500 files
    folder2
        1500 files

[2019-12-09 10:17] appupulla commented on #60
Potentially if you are to replicate the error make sure the Xmx45g/Xmx40g flag is absolutely essential. If not, this error is not getting replicated.

[2019-12-09 10:31] egor-bogomolov commented on #60
Hi, @appupulla! What happens when you set a limit on Java heap to be smaller? Since batching is in use, it should work normally as soon as it does not hit memory limit due to abnormally large file.

[2019-12-09 10:38] appupulla commented on #60
The cli fails with java heap space error. Looks like the batching is not working as expected on abnormally large files then.

[2019-12-09 10:40] appupulla commented on #60
The error message:
Exception in thread "main" java.lang.OutOfMemoryError: Java heap space
	at gnu.trove.set.hash.THashSet.rehash(THashSet.java:163)
	at gnu.trove.impl.hash.THash.postInsertHook(THash.java:388)
	at gnu.trove.set.hash.THashSet.add(THashSet.java:112)
	at org.apache.tinkerpop.gremlin.tinkergraph.structure.TinkerGraph.addVertex(TinkerGraph.java:284)
	at io.shiftleft.codepropertygraph.cp

[2019-12-09 10:43] egor-bogomolov commented on #57
Hi, @v587su!
The correct way to add dependency is as follows: `compile(files("astminer-0.5.4.jar"))`
Alternatively, to avoid copying jars from library to CLI, you can set the dependency as `compile(files("../build/astminer/libs/astminer-0.5.4.jar"))`. Then, you should go to the root astminer directory, run `./gradlew build` and changes will be immediately in CLI.

Sorry for not elaborating on it p

[2019-12-09 10:45] egor-bogomolov commented on #60
Okay, seems like we are coming closer to the reason. Thanks a lot for providing all this information!

[2019-12-09 11:51] egor-bogomolov commented on #60
I've run the jar on several large projects (thousands of cpp/c fies) and didn't face the error. Could you please share several of the extremely large source files?

[2019-12-09 11:54] v587su commented on #57
@egor-bogomolov Thanks for your warm heart. It seems that CLI and the local library are incompatible. When I run `./gradlew shadowJar`, an error comes up:
[code]

[2019-12-09 12:00] egor-bogomolov commented on #57
I recommend you pull the latest changes from our master branch. Recently I've updated the API of extractors and it looks like it is updated in your CLI (call with 3 parameters) but not in the library (constructor with a single parameter).

[2019-12-09 12:00] appupulla commented on #60
[preprocessedProject.zip](https://github.com/JetBrains-Research/astminer/files/3939503/preprocessedProject.zip)

[2019-12-09 12:01] egor-bogomolov commented on #57
As you can see in [Code2VecPathStorage.kt](https://github.com/JetBrains-Research/astminer/blob/master/src/main/kotlin/astminer/paths/Code2VecPathStorage.kt), in master branch it is already updated.

[2019-12-09 12:16] v587su commented on #57
It is my fault.  The latest version is 0.5.5. However, I use 0.5.4.jar.
After fixing this, I  build it successfully. But I get the same error while using cli-0.3.jar.
[code]
My java version is 11.0.3.

[2019-12-09 12:41] egor-bogomolov commented on #57
Could you please fork the repository and push your changes there?

[2019-12-09 12:46] v587su commented on #57
I make no changes. Just to test the process.

[2019-12-09 12:49] egor-bogomolov commented on #57
Does the error occur when you use remote version of the library? I.e., if you just clone the repository, run `./gradlew shadowJar` and try to run java -jar build/shadow/cli-0.3.jar?

[2019-12-09 12:55] v587su commented on #57
It is ok with remote version. I guess it is caused by my java version. What is yours?

[2019-12-09 13:15] appupulla commented on #60
@egor-bogomolov were you able to reproduce the error with this data?

[2019-12-09 13:42] egor-bogomolov commented on #57
[code]

[2019-12-09 13:45] egor-bogomolov commented on #57
I was able to reproduce your error, looking for a fix.

[2019-12-09 14:19] egor-bogomolov commented on #57
I've made a commit to master where I added `shadowJar` task to the library. To make things work with local library follow these steps:
1. Go to `astminer/` directory and run `./gradlew shadowJar`
2. Go to `astminer/astminer-cli` and add dependency `implementation(files("../build/shadow/lib-0.5.5.jar"))` in `build.gradle.kts`
3. Run `./gradlew shadowJar`, this time in CLI, to create a runnable jar.

[2019-12-09 14:38] v587su commented on #57
@egor-bogomolov Thanks! It works!

[2019-12-09 21:46] egor-bogomolov opened #63 "Instruction for local development"
Following a discussion in #57, we should provide instructions on how to locally update the library and use the updated version in CLI immediately, without releasing it anywhere.

[2019-12-11 08:32] v587su commented on #57
@egor-bogomolov Hi, the local library still has bugs. The result generated by `cli-0.3.jar` has no content in `path_contexts.csv`. And the lines of `tokens.csv` are fewer than the online version.

[2019-12-11 08:51] egor-bogomolov commented on #57
What do you mean by the local and online libraries? Did you check the corresponding versions? What project do you test it on?

[2019-12-11 11:10] v587su commented on #57
Forgive my poor English.
I build the local library and point it to the CLI. The result of CLI seems wrong.  There is no content in `path_contexts.csv`. Besides, `tokens.csv` have fewer tokens than the remote version of the library.
The version of local library is 0.5.5.
I test on my own data. My data is ok with the remote version. I believe it can be reproduced on any data.

[2019-12-13 05:40] appupulla commented on #60
@egor-bogomolov were you able to reproduce the error with this data?

[2019-12-16 12:30] liangxi11 opened #64 "I used astminer to preprocess my python data for code2vec, but the paths were too long"
Hi,
I tried to use  astminer to preprocess my python data for [code2vec](https://github.com/tech-srl/code2vec/blob/master/README.md#extending-to-other-languages) and it produced data in (Token, Path, Token) format, but the path were too long to implement the [code2vec](https://github.com/tech-srl/code2vec/blob/master/README.md#extending-to-other-languages) program because I substituted the id in p

[2019-12-16 12:52] egor-bogomolov commented on #64
Hi! You're not supposed to substitute anything at all. Just use numerical ids.

[2019-12-16 12:56] liangxi11 commented on #64
But [code2vec](https://github.com/tech-srl/code2vec/blob/master/README.md#extending-to-other-languages) requires input in string format rather than in numeric format.

[2019-12-16 12:57] egor-bogomolov commented on #64
Numbers are just strings of digits :)

[2019-12-16 13:12] liangxi11 commented on #64
That makes sense.
Let me have a try.

Thanks!

[2019-12-18 10:04] appupulla commented on #60
@egor-bogomolov, @iromeo, @olegs, @gsvgit Can anyone look into this issue please?

[2019-12-18 11:58] egor-bogomolov commented on #60
Hi @appupulla , sorry for the long wait. I reproduced it in a more notorious way: I found a large .c file for which we extract a lot of path contexts but store 0 tokens and 0 paths in the corresponding file. I'm still investigating the reason behind such behavior.

[2019-12-18 16:25] egor-bogomolov commented on #60
Hey, I've investigated the issue deeper and found out the reason behind the enormous memory usage and, most likely, your problem as well. Now the tool should fit in a reasonable amount of memory. Please, download the updated version of CLI from [google drive](https://drive.google.com/open?id=1k0fg3tgI7PfKFN2Dlyxq86ifpHG5g696) (it's not pushed yet.). Notice, that now to use batching you should pass

[2019-12-19 01:34] liangxi11 commented on #64
I tried to input digits path, but it doesn't work well.

And I want to ask why does a path ID correspond to so many node types?

[2019-12-19 12:43] egor-bogomolov commented on #64
Could you provide more information: which data do you use, which language, the exact command to run astminer, CLI version?
I didn't quite get the last question. Node types are stored in a separate file. Long types with pipes inside are result of compressing paths of vertices with single child.

[2019-12-19 15:03] liangxi11 commented on #64
My CLI version is 0.3 and I use it to parse python code.

The command I used was "java -jar cli.jar code2vec --lang py --project path/to/project --output path/to/results --maxH H --maxW W --maxContexts C --maxTokens T --maxPaths P"

------Explanation for the last question------
In path_context_xx.csv, I have many (Token id, Path id, Token id) triples.
In paths.csv, a path id corresponds to many no

[2019-12-24 09:52] appupulla commented on #60
issue solved. Thanks a lot @egor-bogomolov

[2019-12-24 09:52] #60 closed

[2020-01-07 07:01] liangxi11 opened #71 "Argument Problem when using CLI"
Hi,
I'm using CLI to parse my python code.
I want to command "java -jar cli.jar code2vec --lang py,java,c,cpp --project path/to/project --output path/to/results --maxH H --maxW W --maxContexts C --maxTokens T --maxPaths P", but I cannot find the meaning of arguments maxH and maxW.

Best!
Xi

[2020-01-07 11:16] egor-bogomolov commented on #71
`maxH` stands for max height, it is maximum height of the extracted paths. `maxW` stands for maximum width, the maximum distance between leaves at the end of paths.

[2020-01-07 12:03] liangxi11 commented on #71
Thx!

[2020-01-11 04:35] mxzf0213 opened #72 "How to parse a new code into path input?"
Hi, I run the pathContexts task with lang c, and I have got the vocabulary.
I try to parse a new c code by running the pathContexts task again, and map the new vocabulary into the old.
But I get the key error, seems like the old vocabulary didn't have the path.
Even if I pick a sub set from the old dataset, I still get the key error.

[2020-01-13 08:45] shubhamrsangle opened #73 "Using ASTMINER with code2vec"
Hello @iromeo @egor-bogomolov  ,

I was trying to use ASTMINER for extracting path step to feed it into code2vec.

with cli I ran this command

java -jar cli.jar code2vec --lang cpp --project ${VAL_PREPROCESSED_DIR} --output ${VAL_DATA_FILE} --maxH 10 --maxW 6 --maxContexts 1000000 --maxTokens 100000 --maxPaths 100000

But output of this is 4 csv files as mentioned in Readme but for passing it to

[2020-01-13 08:47] shubhamrsangle commented on #73
@egor-bogomolov can you please help regarding this issue?

[2020-01-13 08:58] egor-bogomolov commented on #73
The file you are looking for is `path_contexts.csv`. Sorry for a confusing extension :)

[2020-01-13 09:02] shubhamrsangle commented on #73
So, I just need to rename path_contexts.csv to path_context.txt ?

[2020-01-13 09:08] shubhamrsangle commented on #73
@egor-bogomolov It will be helpful if you just tell me next steps and changes to be done after running
java -jar cli.jar code2vec --lang cpp --project ${VAL_PREPROCESSED_DIR} --output ${VAL_DATA_FILE} --maxH 10 --maxW 6 --maxContexts 1000000 --maxTokens 100000 --maxPaths 100000
command, should I convert .csv to .txt and proceed with same further steps as this https://github.com/tech-srl/code2vec/b

[2020-01-13 09:10] egor-bogomolov commented on #73
Just point the preprocess.sh to `path_contexts.csv` file and it should work

[2020-01-13 09:18] shubhamrsangle commented on #73
Sorry,

I didn't get it what you are saying? Can you elaborate?

Do you mean that I don't need to change any extension but just that instead of .txt file if I pass this .csv file, it will work? I don't need to do any changes after
https://github.com/tech-srl/code2vec/blob/master/preprocess.sh#L51
?

[2020-01-13 09:22] egor-bogomolov commented on #73
Yes, that's what I mean.

[2020-01-13 09:33] shubhamrsangle commented on #73
Thanks, that solved my issue.

One more doubt I need to ask. I have one folder containing multiple projects. So, in this case output will be single path_contexts_0.csv or seprate path_contexts_0.csv for every project.

Also, one more thing I will like to point out is why name of file is path_contexts_0.csv, does 0 signify anything? different name for different project? Or it's just coding style?

[2020-01-13 09:41] egor-bogomolov commented on #73
There will be one file for all the projects.

We use batching to reduce memory usage, so there might be many files if you run the tool on a large project. The API to control it is not released yet.

[2020-01-13 09:43] shubhamrsangle commented on #73
Also, what is use of the other three files we are getting? path_contexts_0.csv is full with numbers, do we need to substitute those numbers with tokens  or just we need to train as it is ?

[2020-01-13 09:47] egor-bogomolov commented on #73
You can train as it is, the numbers are identifiers. If you want to get their actual meaning at some point, you can substitute specific numbers and get original types / tokens.

[2020-01-13 10:13] shubhamrsangle commented on #73
Thanks for help

[2020-01-13 10:13] #73 closed

[2020-01-14 06:23] #71 closed

[2020-01-20 13:43] michnorm opened #75 "Java OutOfMemoryError when Using Astminer with Code2Vec"
Hi,

I am currently trying to use Astminer to extract paths for use with Code2Vec. I have roughly 9500 Python projects containing a total of about 220,000 code files that I want to extract paths from.

When running the command:
 `java -jar cli.jar code2vec --lang py --project <data location> --output <output location> --maxH 10 --maxW 6 --maxContexts 1000000 --maxTokens 100000 --maxPaths 100000`
A

[2020-01-20 14:00] vovak commented on #75
hi @mdnorman38, thanks for the report.
I'll see if there is anything we can do to reduce memory consumption.

For now please try increasing maximum heap size by adding `-Xmx8g` (or other reasonably large value) to java arguments. The default maximum heap size is, iirc, 1/4 of physical memory.

[2020-01-20 14:04] vovak commented on #72
hi @mxzf0213,
in general, running the task twice on different input generates different outputs.
In particular, new code might contain paths not present in old code, and the path-context sets are not guaranteed to intersect at all between different runs on different input, so for now the problem is not completely clear to me.

Could you please provide us with a small example of input, mapping, and

[2020-01-21 09:08] mdnorman38 commented on #75
Thanks for the suggestion @vovak I can now process a lot more projects than previously.

Another question, from what I understand you need to pass the `path_contexts.csv` to Code2Vec. However, because of batching I have lots of `path_contexts.csv` files, so how do I pass all the files to Code2Vec. Should I just concatenate them?

[2020-01-21 10:03] egor-bogomolov commented on #75
Hello! A proper way to do so is to concatenate the `path_contexts.csv` files into a single long file.

[2020-01-21 11:44] mdnorman38 commented on #75
Great, thanks @egor-bogomolov!

[2020-01-27 07:29] shaoormunir opened #76 "Cannot process certain JavaScript files"
I am trying to use astminer to convert a dataset of JavaScript files into AST format for code2vec. However, it is failing to parse certain JavaScript files at this step:
`JavaScriptParser().parse(file.inputStream()) ?: return@forFilesWithSuffix`
It does not throw any error so I am not sure what is exactly causing this failure. I have tried using [astexplorer](https://astexplorer.net/) for those fi

[2020-01-27 11:37] vovak commented on #76
Hi @shaoormunir, thanks for the report.

@elena-lyulina could you please take a look?

[2020-01-30 09:11] Baumanar opened #79 "inconsistent results for same file for cli.jar"

[2020-01-30 09:12] #79 closed

[2020-01-30 09:28] Baumanar opened #80 "Inconsistent results for same file for cli.jar"
Hello,
I've been testing the tool and i've seen that the cli gives inconsistent results for same files:
So I have one C file named `cros_ec_dev_pre.c` which i copied to have two files `cros_ec_dev_pre.c` and `cros_ec_dev_pre1.c.` I then run the command in the current directory where my two files are
` java -jar cli.jar  code2vec --lang c --maxH 10 --maxW 6 --maxContexts 1000000 --maxTokens 100000

[2020-01-31 16:49] vovak commented on #76
@shaoormunir the problem should now be fixed in the `master-dev` branch. Please take a look.

[2020-02-02 05:43] shaoormunir commented on #76
@vovak  It is working for all files now. Thanks!

[2020-02-02 05:47] shaoormunir commented on #75
@vovak I am facing this issue as well. I am trying to process around 30,000 JavaScript files and, even after giving it 24 Gigabyte memory it fails after around 6,000 files. I am using the library directly in Kotlin instead of CLI as it does not yet support JS parsing, Is there a way to do the parsing in parts by providing it the previous context files or any other way that I can make it work for t

[2020-02-02 12:18] #76 closed

[2020-02-03 10:03] Baumanar commented on #80
It turns out that if i do the same with a Java file,  identical methods give identical results, could it be that the FuzzyCppParser gives inconsistent results ?

[2020-02-04 17:08] vovak commented on #80
hi @Baumanar, sorry for a late response.
I'll take a look asap.

[2020-02-10 10:07] Baumanar commented on #80
Hello, quick update, I think i have an idea why I get these results: I think the fuzzyCppParser creates concurrently the AST and thus makes the final AST not the same in every case. Then, as some subtrees in the AST may be swapped, the path joining two terminals can be different. As for the differences for terminals, I still don't have an anwser.

[2020-02-10 10:10] Baumanar commented on #80
Do you have any support of C using Antlr ? Even if it is less performant

[2020-02-10 14:06] vovak commented on #80
@Baumanar thanks for investigating this.
IIRC, @egor-bogomolov tried using antlr-based parsers for C, but faced some issues. He should be able to help here.

[2020-02-18 21:38] waXFvrYv opened #81 "Extending with PHP"
I am trying to extend on this project by adding the ability to parse PHP ASTs, with the ultimate goal of using the output with Code2Vec. Eventually, I want to add PHP to the Code2VecExtractor in Astminer-cli, but right now, I want to focus on creating a working parser. I followed the steps listed [here](https://github.com/JetBrains-Research/astminer#other-languages), and created the parser using t

[2020-02-24 17:13] waXFvrYv commented on #81
I would also like to build the Astminer-cli using the modified main libraries, but am not quite sure how to do this. I read the thread in #57 but am still a little confused on what to do in astminer-cli/build.gradle.kts.

[2020-03-05 09:42] suryadesu commented on #75
Hello, correct me if I'm wrong. I think the right way to do it is to parse all the files together, as matching the project may result in duplicate tokens, nodetypes that are considered for paths and path_contexts which may cause wrong results for code2vec. I checked this by getting the mining ast paths using whole dataset and then divided into batches, the files created aren't same.

[2020-03-05 09:46] suryadesu commented on #75
Even I am facing this issue. I am currently using c, cpp parser for dataset of size around 650MB. After a long time it throws this error. I tried increasing the heap size for a maximum of 120g. Still I have the same error as Java outofmemory: GC overhead limit exceeded. I found this error occurs while parsing using fuzzyc2cpg. Can someone give a solution for this?

[2020-03-05 12:57] egor-bogomolov commented on #75
Could you please try to run jar file mentioned in the issue #60
You can find the jar [here](https://drive.google.com/open?id=1k0fg3tgI7PfKFN2Dlyxq86ifpHG5g696)

[2020-03-06 10:01] suryadesu commented on #75
Hi
Thanks for the reply. I tried to run using given jar file as you suggested. That seemed to be running relatively faster, but still I am still facing the same error as outofmemory: GC overhead limit exceeded.
I ran it with maximum heap size of 120GB. So, I didn't run using batches.
Can you let me know if there is some other possible

[2020-03-26 11:20] mdnorman38 commented on #75
You're right, there are duplicate tokens and it seems to be negatively my Code2Vec results. Unfortunately, I have a pretty large dataset so preprocessing without batching seems impossible with this out of memory issue.

[2020-04-16 19:54] kyledampier opened #84 "Converting to Code2Vec Format"
Hello, the current format you gave returns the data in three files. However, when converting to Code2Vec (.c2v) it all compresses into a single file [Code2Vec](https://github.com/tech-srl/code2vec). The data came in this format:

`set|work|unit|manager void,1726006538,METHOD_NAME void,1729349180,workunitmanager void,-233946901,workunitmanager METHOD_NAME,-1103308019,workunitmanager METHOD_NAME,122

[2020-04-20 19:55] waXFvrYv commented on #81
I managed to solve the NAME node issue by switching my Java version to 1.8. Now, my issue is with my resulting path contexts. For my path contexts in the path_contexts.csv, I do not have any full 3-tuple path contexts. Many of the path contexts only have 1 or 2 values. I think this is causing an issue when I try to train with code2vec. Could this be an issue with extraction or method splitting? I

[2020-04-27 16:47] Kirili4ik commented on #84
Hello, Kyle

I was doing the same operations recently.
.c2v is special for code2vec and is made by preprocess.sh and preprocess.py in code2vec project. You have to change preprocess.sh file. I prefer to look at this file as 3 parts:
1) run cli.jar (to get the files you already have)
2) run cat .... > /path/ (to get histograms)
3) run preprocess.py

I will leave changed parts of preprocess.sh only

[2020-04-27 17:07] Kirili4ik commented on #84
Hello, Kyle

I was doing the same operations recently.
.c2v is special for code2vec and is made by preprocess.sh and preprocess.py in code2vec project. You have to change preprocess.sh file. I prefer to look at this file as 3 parts:
1) run cli.jar (to get the files you already have)
2) run cat .... > /path/ (to get histograms)
3) run preprocess.py

I will leave changed parts of preprocess.sh only

[2020-04-27 17:18] Kirili4ik commented on #84
Hello, Kyle

I was doing the same operations recently.
.c2v is special for code2vec and is made by preprocess.sh and preprocess.py in code2vec project. You have to change preprocess.sh file. I prefer to look at this file as 3 parts:
1) run cli.jar (to get the files you already have)
2) run cat .... > /path/ (to get histograms)
3) run preprocess.py

I will leave changed parts of preprocess.sh only

[2020-04-29 14:40] SpirinEgor opened #86 "Create benchmarks for CLI"
We can improve memory usage by, for example, avoiding storing graphics in storage and immediately saving them to disk, this can fix https://github.com/JetBrains-Research/astminer/issues/75. And many things can help to reduce the working time, such as using multiprocessing.

But before making any improvements, we need time and memory usage tests so that we can show progress and determine that any o

[2020-04-30 09:36] manish41095 opened #87 "Building solidity extractor for code2vec format"

[2020-04-30 09:36] #87 closed

[2020-05-01 20:30] samshipengs opened #88 "[Python] how to know which output path_context belongs to which project"
Thanks for this great tool! I'm trying to generate input files for code2vec model from python projects. I have a list of python projects (directories), and after I run astminer CLI, i got the `node_types.csv`, `tokens.csv`, `paths.csv` and the rest are `path_contexts_*.csv`. I wonder how can I possibly know which `path_contexts_i.csv` file come from which project?
for example, my list of python pr

[2020-05-04 17:02] SpirinEgor commented on #88
Hi!

Currently, we don't support saving sources for paths. Also, this `i` in the path file represents the batch number and doesn't belong to the project.
If you want to prepare data for train/val/test sets, you can split projects by these holdouts, convert it independently, collect vocabulary from the train part and convert corresponding tokens in others.

[2020-05-09 15:36] SimoneBrigante commented on #75
Hi @suryadesu, I have the same problem as you had. Did you find out a solution?

[2020-05-11 11:04] suryadesu commented on #75
No @SimoneBrigante,
As of now, I still haven't found any solution to this problem.

[2020-05-13 12:33] foiki commented on #86
|                                                                  | Long File                    | Simple Project (Gradle) | Big Project (InteliJ IDEA) |
 |-----------------------------------------------|--------------------------|----------------------------|------------------------------|
 | Code2Vec (time)                                       | 0.34 sec ± 0.08 sec    | 16.4 sec ± 0.24 sec

[2020-05-13 18:40] foiki commented on #86
Benchmark took about 9 hours, full results will be available in build/reports/benchmarks.csv, total allocated memory field called there alloc.rate.norm, just convert them from B/op to GB/op or MB/op

[2020-05-13 18:58] foiki commented on #86
First line of each task is a time, others shows some parameters of memory usage
<img width="913" alt="Benchmark example" src="https://user-images.githubusercontent.com/43491509/81853262-e33e4a80-9564-11ea-8443-c328bb50fdab.png">

[2020-05-13 19:00] foiki commented on #86
You can put paths to your project in BenchmarkSetup.kt and test it on your own tasks

[2020-05-14 13:16] #86 closed

[2020-05-25 19:03] SimoneBrigante opened #94 "Interpretation of astminer output files"
Hello,
I am using astminer to extract path_contexts from some python file to use in the code2vec model.
I am particularly interested in making the the results easily interpretable, but I am having some troubles understanding how the _node_types.csv_ file is generated.
For example what is the difference between these two node_types?
`testlist_star_expr|test|or_test|and_test|not_test|comparison|expr

[2020-05-29 10:55] SpirinEgor commented on #94
Hi!

`node_types.csv` contains information about types in AST with the corresponding direction (`UP` and `DOWN`). Sometimes, ANTLR produces AST with a chain of vertices with only one child. we compress this chain into one vertex, which type is a combination of original types joined by `|`.

Yes, you right. `____` corresponds to 4 space indentation, for example.

If you want to graphically represen

[2020-05-29 12:25] SimoneBrigante commented on #94
Hi @SpirinEgor, thanks for your reply!

Ok, I will probably consider just the last node then. Is it possible to just consider the last node during the mining in order to reduce the number of _node_types_ and so, probably, the number of _paths_?

So does the underscore always represent a space?

Nice! I didn't noticed this feature, thank you a lot.

[2020-05-29 15:26] SpirinEgor commented on #94
If you choose leaf, then you should go over the full chain and we just replaced this part of the path to one vertex. So, this modification doesn't affect the number of paths. You can only use the last type to reduce the number of `node_types`, but this will lead to wrong paths.

`_` can also represent the variable name (`a, b, _ = some_func()`). If you want to remove these tokens, you can replace

[2020-05-30 15:04] SpirinEgor commented on #63
@egor-bogomolov do we need this issue if CLI now is the part of the main library? So for local development users can clone the repo and use Gradle to build it?

[2020-05-30 16:18] SimoneBrigante commented on #94
Thanks a lot! You have been really helpful.

[2020-05-30 16:18] #94 closed

[2020-06-01 14:38] egor-bogomolov commented on #63
Not anymore, it's time to close it, thanks!

[2020-06-01 14:38] #63 closed

[2020-06-01 15:47] SpirinEgor commented on #88
Since there are no questions, I close this issue. But if you still find something confusing you, feel free to reopen it.

[2020-06-01 15:47] #88 closed

[2020-06-04 17:51] foiki commented on #86
|                                                                  | Long File                    | Simple Project (Gradle) | Big Project (InteliJ IDEA) |
 |-----------------------------------------------|--------------------------|----------------------------|------------------------------|
 | Code2Vec (time)                                       | 0.34 sec ± 0.08 sec    | 16.4 sec ± 0.24 sec

[2020-06-04 17:52] foiki commented on #86
|                                                                         | Long File                    | Simple Project (Gradle) | Big Project (InteliJ IDEA) |
|----------------------------------------------------|--------------------------|----------------------------|------------------------------|
| Code2Vec (time)                                              | 0.34 sec ± 0.08 sec    | 16.4 s

[2020-06-04 17:53] foiki commented on #86
Added two different benchmarks for ProjectParser, one uses CSV storage, another DOT storage

[2020-09-15 18:21] Kayla0x41 opened #103 "Build failure"
I received an error when trying to execute ./gradlew shadowJar. Information and solution below. Providing in case anyone else is having the same issue.

`gradle -version`

Build time:   2020-08-25 16:29:12 UTC
Revision:     f2d1fb54a951d8b11d25748e4711bec8d128d7e3

Kotlin:       1.3.72
Groovy:       2.5.12
Ant:          Apache Ant(TM) version 1.10.8 compiled on May 10 2020
JVM:          14.0.1 (Or

[2020-09-15 18:22] #103 closed

[2020-09-16 18:56] Kayla0x41 commented on #84
Hello, I am trying to follow this example as well. @Kirili4ik thank you for the description! I was hoping you could clarify a few points for me.

Below is the most recent [preprocess.sh](https://github.com/tech-srl/code2vec/blob/master/preprocess.sh) from code2vec.
[code]

My interpretation of your example is as follows:

[code]

[2020-09-16 19:04] Kayla0x41 commented on #73
I am attempting to update the code2vec [preprocess.sh](https://github.com/tech-srl/code2vec/blob/master/preprocess.sh) file as well (#84). I'm having trouble knowing which sections should be updated though... I have successfully executed

`./cli.sh code2vec --lang c --project /astminer_tests/challenges --output /astminer_tests/code2vec_test --maxH 10 --maxW 6 --maxContexts 1000000 --maxTokens 1000

[2020-10-05 17:03] vovak commented on #75
Hi @michnorm @suryadesu @SimoneBrigante,

Sorry for the super long wait. Memory consumption is going to be fixed as soon as #106 is merged. For now you can just use `cli.sh code2vec ...` in the `serial-parsing` branch.

[2020-10-07 01:33] vovak commented on #75
Fixed by #106.

[2020-10-07 01:33] #75 closed

[2020-10-12 14:05] #18 closed

[2020-10-12 14:06] vovak commented on #18
Now that we have enough usage examples, we've removed the py_example altogether.

[2020-10-22 02:08] sqhan-Husky opened #112 "Using astminer to preprocess java data , but got empty path contexts"
Hi,
I tried to use astminer to preprocess my java data for path contexts. The result files seemed normal on paths.csv and tokens.csv. But in the path_contexts.csv, it got only one column of file_name without any extracted path.
Here's my data example:
![image](https://user-images.githubusercontent.com/45597101/96810692-3c80a300-144e-11eb-9883-2881c4792eff.png)

I used the newest version of astmine

[2020-10-22 23:26] vovak commented on #112
hi @sqhan-Husky, thank you for the report.

Are you using astminer via a CLI, or as a library?
Could you please share the example snippet in a text form so that we can investigate the problem?

[2020-10-23 02:40] sqhan-Husky commented on #112
l forked the project and used astminer by running ./cli.sh.

Here's a java code snippet from the dataset:

static void copy(String src, String dest) throws IOException {
    File ifp = new File(src);
    File ofp = new File(dest);
    if (ifp.exists() == false) {
        throw new IOException("file '" + src + "' does not exist");
    }
    FileInputStream fis = new FileInputStream(ifp);
    FileOu

[2020-10-26 18:07] vovak commented on #112
hi @sqhan-Husky,
I've tried running astminer on your example.

The problem is, essentially, that this snippet of code, with no additional context, is not valid Java code: a method should be defined inside a class.
Some parsers, including the one `astminer` uses by default, simply return an empty tree in this case -- that is why you've been getting empty results.

Once I've wrapped your example in

[2020-10-26 18:12] vovak commented on #112
If you could tell us a bit more about how your dataset is organized, we could try to figure out a solution.

I see three ways we could go from here:

1. Use original code without extracting method bodies into separate files for input, if that's possible (preferred, as we assume that input is valid code)
2. Figure out a way to parse individual methods without a context of a class (might require try

[2020-10-27 21:35] ayushbihani commented on #64
Why shouldn't we substitute the path ID by the corresponding node types? And if we dont and the numeric ID will differ across different files in the dataset.

[2020-10-28 11:37] sqhan-Husky commented on #112
Thank you！@vovak
It's effective to add a class definition to the snippet so that l can get the correct path contexts. I will follow this way to continue my work.

[2020-10-28 11:39] #112 closed

[2020-10-31 17:23] Ceceu opened #114 "Could astminer be used to extract metadata from Java methods?"
Could `astminer` be used to extract metadata from Java methods?

For instance, using the following code snippet

[code]
the metadata would be:

[code]

[2020-10-31 17:38] vovak commented on #114
Hi @Ceceu,

Yes.
You would need to use astminer as a library and write a bit of code in Kotlin or Java to parse your input using one of the Parser implementations in astminer and then extract this information by traversing the resulting tree. Please let me know if you need help with that.

By the way, why does the `return_statement` field only contain the second of the two return statements?

[2020-10-31 20:16] Ceceu commented on #114
Hello @vovak,
great to know that I can use `astminer` to extract metadata.
If I am not asking for too much, a code example showing how to do it would be of great help.

Editing note: I adjusted the example so that the `return_statement` includes all existing return statements.

[2020-11-03 19:00] vovak commented on #114
Hi, here is a minimal example of traversing the tree to extract metadata. I'm sure you can take it from here.

https://github.com/vovak/astminer-examples/tree/master/method-features

[2020-11-05 13:18] Ceceu opened #115 "Paths between AST leaves"
I am using `CLI` to generate the `PathContexts` of Java methods such as the one shown in the following code snippet:

[code]
which produces the following output:

- path_contexts.csv
[code]
- paths.csv
[code]

- node_types.csv
[code]

- tokens.csv
[code]
In this context, shouldn't the start and end tokens be the leaf nodes (that is, the method variables like `a` and `b`)?

[2020-11-05 13:21] Ceceu commented on #114
These examples were of great help to me.
Thank you @vovak !

[2020-11-05 13:21] #114 closed

[2020-11-05 20:22] egor-bogomolov commented on #115
@Ceceu, thanks for opening the issue! Could you please specify the command that you use to run CLI?

[2020-11-05 20:31] egor-bogomolov commented on #115
I built the latest version of the library in `master` and `master-dev` branches and ran it with `cli.sh` (for master, I had to change `lib-0.5` to `lib-0.6` in `cli.sh` which is unfortunate and should be fixed). The command I used:
[code]

In both cases, I get a lot more path-contexts than you did, for example in master-version:
[code]

Among them, I can find `2,14,3` which corresponds to `a, Simp

[2020-11-06 00:53] Ceceu commented on #115
I started using the following command:
[code]
and I could not be sure if the outputs are like pointed in [A General Path-Based Representation for Predicting Program Properties](https://arxiv.org/pdf/1803.09544.pdf) paper which generates paths contexts between to leaves nodes over the AST.

[2020-11-06 10:29] egor-bogomolov commented on #115
1. Seems like you are using an old version of Astminer because `maxH` was changed to `maxL` in version 0.6.
2. Most likely, you don't see a path-context between `a` and `b` due to the strict limit on the number of node types. Try to change all the limits to 100 and see what you will get.
3. All the generated path-contexts are paths between AST leaves. Leaves, however, include most of the tokens me

[2020-11-06 14:44] Ceceu commented on #115
Thank you @egor-bogomolov,
you really improved my understanding of paths contexts.

After upgrading to the 0.6 version (in master-dev branch) and I change to `./cli.sh code2vec` since it uses the `--granularity method`.

By the way, is it possible to render the tree of each method separately to better visualize the paths?

[2020-11-06 14:53] egor-bogomolov commented on #115
To print the trees, you have to modify CLI. All implementations of the Node interface have `.prettyprint()` method that produces the output I attached above. You can, for example, call it after parsing the methods.

Also, you can use `parse` command in the CLI with the key to store ASTs in `dot` format. Then you can render dot graphs with any tool that supports it (there quite many of them, even l

[2020-11-06 15:08] Ceceu commented on #115
Great, thank you for all support.

[2020-11-06 15:08] #115 closed

[2020-11-17 17:50] celsofranssa opened #116 "Extract path-contexts iteratively"
I am working with a Java dataset composed of pairs `(code, comment)`, as shown below:

[code]

then, is there an approach to extract the path context of each Java method creating new pairs `(path_context, comment)`?

[2020-11-17 18:45] vovak commented on #116
hi @Ceceu,
Please note that it's going to be not just one path-context, but a collection, that represent a method. See [the original paper on path-based representations](https://arxiv.org/pdf/1803.09544.pdf) for details.

To get the data you need, you can use `astminer` as a library and extract path-contexts for methods, and then combine those with the comments that you already have.
Please note t

[2020-11-17 20:46] Ceceu commented on #116
Hello @vovak,

Exactly, I need to parse Java code methods to a collection of path-context (`cod2vec` format).
What is the impact if I wrap each method in a respective class (n methods for n classes)?

[2020-11-20 10:54] egor-bogomolov commented on #116
Hello @Ceceu! Wrapping each method in a stub-class seems to be the right approach.

[2020-11-22 08:07] xingyezn opened #117 "Could you give me a detailed tutorial about running the sample？"
I got this error. And can't got the processed_data.
My code is as follows:
![image](https://user-images.githubusercontent.com/37822579/99898519-d0a78980-2cdc-11eb-8d7b-b7148e615063.png)

`C:\Users\xingy\AppData\Local\Programs\Python\Python36\python.exe C:/Users/xingy/Desktop/py_example/run_example.py
Traceback (most recent call last):
  File "C:/Users/xingy/Desktop/py_example/run_example.py", line

[2020-11-24 07:09] harshitalpha opened #118 "Not able to preprocess C/C++ file"
Hello,
I want to use Astminer to preprocess C/C++,
```cli.sh preprocess --project MergeSort.c --output /home/harshit/Desktop/astminer/astminer/output```
but I am getting following error.
[code]
After cloning the repository, I run the following command.
[code]
I am not getting what is going on, It will be great if anyone can help.

[2020-11-25 16:29] egor-bogomolov commented on #118
Hello @harshitalpha! The project should be a directory, not a file. I suspect the problem is in it but will investigate it.

[2020-11-26 12:33] harshitalpha commented on #118
Hello @egor-bogomolov, thanks for the reply,
I have also tried to pass the project as a folder, which contains c files, but also got the same error.
I have tried to parse the file and it succeeds and gives us a dot file. how to use that file to further. My final goal is to run `code2vec`.

[2020-11-26 13:36] egor-bogomolov commented on #118
Okay, I will look into preprocess more carefully then. Could you share the file that you run the astminer on please?
To run code2vec, you should use the `code2vec` task which will produce an output compatible with the model.

[2020-11-29 08:01] jumormt opened #119 "Some questions about cpp parser and preprocess"
Hi,
I noticed that the parser for c/cpp is [FuzzyCppParser](https://github.com/ShiftLeftSecurity/codepropertygraph/), which is different from that for java/python (antlr4). The first question is why you choose a different parser? Does it outperform native antlr4? To my knowledge, the parser is written based on antlr4.

The second question is how to preprocess the whole project by considering compl

[2020-12-02 13:50] egor-bogomolov commented on #119
Hello @jumormt and sorry for the late reply!
1. Parsing C++ with an ANTLR parser is a very complex task ([see here](https://stackoverflow.com/questions/2329558/is-there-a-working-c-grammar-file-for-antlr)), even when the file was transformed by the preprocessor. We initially tried to use a parser built from an ANTLR grammar in our other projects, but faced problems. To give you an example, when AN

[2020-12-02 13:55] egor-bogomolov commented on #117
Hello @xingyezn and sorry for the late reply!

We decided to remove the Python example since it became outdated. Now, if you want to run code2vec, I would suggest you look at the `code2vec` task in CLI which produces output that should be compatible with the original code2vec implementation.

[2020-12-02 13:56] #50 closed

[2020-12-02 14:15] egor-bogomolov commented on #118
It was indeed a bug, thanks! #120 should fix it. You can already build CLI with the fix in the branch `preprocess-c`.

[2020-12-04 05:32] riyaj8888 commented on #64
"java -jar cli.jar code2vec --lang py --project path/to/project --output path/to/results --maxH H --maxW W --maxContexts C --maxTokens T --maxPaths P"

in this command what is format of ' path/to/project' ? what exactly contents of this file

[2020-12-06 23:13] ayushbihani opened #121 "Using Code2vec model for inference."
I used astminer to generate ASTs on a python repository dataset and was able to train the code2vec model on the path_contexts.csv. I have the model now and now I want to use it for inference on a new python file.

My doubt is that when I generate AST for the new python file, it outputs a path_contexts file with numbers specific to only that program. If i use this AST for inference, the model will

[2020-12-07 11:00] SpirinEgor commented on #121
Hi!

If you want to run your model in inference you should convert output ids for the test example to the one you collected for training data. It shouldn't be hard. For each id in the test example, convert it back to string token and then convert it to correct id using train vocabulary. Each vocabulary is a CSV file, so it can be done in a few lines in python.

This behavior with storing paths as

[2020-12-07 19:43] ayushbihani commented on #121
Thank you for clarifying that!

I had a similar intuition regrading substituting token and path from the original dataset. However I wanted to clarify for the substitution for paths which is itself comprised on node types. The solution for this would be to take new generated paths and replace all the node types with id from the original dataset and then lookup for that path in original dataset and

[2020-12-07 20:39] SpirinEgor commented on #121
Yes, you are absolutely correct.

In sampled paths, you have triple `token_id, path_id, token_id`. So, you change `path_id` with the sequence of nodes ids by using new vocabulary, after that replace it with node values. After that, you should do these steps in reverse order and using the original vocabulary.

Also note, that for the code2vec model we differ UP and DOWN directions in the path. So i

[2020-12-07 20:41] ayushbihani commented on #121
Thanks a lot! That clarified everything.

[2020-12-07 20:41] #121 closed

[2020-12-12 06:10] jumormt commented on #119
Hi,
Thanks a lot for your patient answer! The parser you recommended can indeed yield more robust results. However, it is relatively hard to use because its documents are limited. As per the second question, I think it is an interesting topic to do more transformation for the source code before parsing or feeding into our neural network.

[2020-12-12 06:11] #119 closed

[2020-12-12 11:27] #118 closed

[2020-12-12 11:27] #117 closed

[2021-02-08 16:20] antonio-mastropaolo opened #122 "Strange error due to import"
Hi all,

Do you know any workarounds to cope with such an error?

    *_SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
    SLF4J: Defaulting to no-operation (NOP) logger implementation
    SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
    java.lang.NoClassDefFoundError: jdk/nashorn/internal/runtime/ParserException_*

The command I ran is the f

[2021-02-08 16:23] vovak commented on #122
hi @antonio-mastropaolo, thank you for the report. I'll have a look asap.

[2021-02-09 15:52] vovak commented on #122
@antonio-mastropaolo could you please confirm if there is still output in `results/c` regardless of the error?

[2021-02-09 15:54] antonio-mastropaolo commented on #122
@vovak Yes, but they're empty

[2021-02-09 15:56] vovak commented on #122
Looks like the reason is either the error in the last line, which is not related to `slf4j`, or other problems with the C parser. Could you please share your output of `java --version`?

[2021-02-09 15:58] antonio-mastropaolo commented on #122
Ook I see, this is the java version I have:

openjdk 15 2020-09-15
OpenJDK Runtime Environment (build 15+36-1562)
OpenJDK 64-Bit Server VM (build 15+36-1562, mixed mode, sharing)

[2021-02-09 16:15] vovak commented on #122
Thanks. Would it be an option for you to share a (minimal) example of input where it fails? It works fine in my environment (Catalina, openjdk15 with a sample input).

[2021-02-10 08:49] antonio-mastropaolo commented on #122
@vovak Yep sure. Here the sample I'm trying to make it works
[code]

I also want to ask you, if we need to import all the dependencies or we can discard them.
For example, in the example I post above _ make_int_multiple_of_ is not defined.
Can be this a problem?

Thank you for your time :)

[2021-02-10 16:15] vovak commented on #122
hi @antonio-mastropaolo,

Importing the dependencies is not necessary, as code is merely parsed for paths extraction.
When I place the snippet above to `results/prep/example.c` and run the cli.sh command with arguments just as you've provided, it works, and the output looks OK.

It's a classic it-works-on-my-machine, but I'd love to help you get it to work.

What OS do you use?

[2021-02-10 16:24] antonio-mastropaolo commented on #122
hi @vovak

I really appreciate your help :)
I'm using  macOS Big Sur 11.1. FYI I've already tried on another machine(ubuntu) and got the same problem.
At this stage, my only guess is that it could be something related to the java version.

I'm using openjdk 15 2020-09-15

[2021-02-10 16:27] egor-bogomolov commented on #122
Hi @antonio-mastropaolo! Wild guess, what is the path to the file that you're trying to parse?

[2021-02-10 16:27] vovak commented on #122
Thanks! We'll be back to you asap.

[2021-02-10 16:45] antonio-mastropaolo commented on #122
@all

I just tried from on a fresh virtual machine(ubuntu 64-bit), and it worked smoothly!
Even if I still get this message
"
      SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
      .........
"
now the script writes all the files I need.
TBH, I don't know what happened before.
Anyway Thank you all for your time :)

[2021-02-10 16:57] vovak commented on #122
@antonio-mastropaolo great! Please let us know if you encounter it again.

[2021-02-10 16:57] #122 closed

[2021-02-16 08:19] nashid commented on #22
@egor-bogomolov @elena-lyulina I would like to know whats the current status of JS support with astminer? Any plan when JS will be supported with astminer?

[2021-02-16 13:24] egor-bogomolov commented on #22
Hi @nashid, big thanks for reminding us about JS :)
I added JS to the CLI (see #123), you can build the branch `cli-javascript` yourself and use it right away. If you need any further help, don't hesitate to contact us.

[2021-02-17 06:59] nashid commented on #22
@egor-bogomolov I have attempted to use it with the following sample input:

**example:**
`sum(a, b)`

**execution:**
`./cli.sh pathContexts  --lang js --project context-ml-dataset --output context-ml-dataset-output --maxL 5000 --maxW 5000 --maxContexts 10 --maxTokens 5000 --maxPaths 10`

**Output files:**

**tokens.csv**
[code]
**node_types.csv**
[code]

**paths.csv**
[code]

**path_contexts.csv*

[2021-02-18 12:09] SpirinEgor commented on #22
Hi!

Storing parenthesis, commas, etc. is strange. But I think this is predefined by ANTLR4 grammar which we use for JS. Maybe there are some parameters for generating rules inside ANTLR4 to set up the way of parsing... Btw, did you try to run the astminer on more complex examples? For example on some functions?

Speaking about changing ids back to words in paths, it's completely unnecessary. You

[2021-02-18 17:58] egor-bogomolov commented on #22
@nashid, you don't see the `sum` token because you've set a very tight limit on the number of extracted contexts -- only 10. If you raise it up to, let's say, 100, you will see that all the expected tokens are there.

As @SpirinEgor mentioned, all the non-alphanumeric tokens (like `,` and `(`) are due to the ANTLR4 grammar used under the hood. If you will run `code2vec` task instead of `pathContex

[2021-02-25 13:13] breandan opened #124 "Migrating off JCenter/Bintray"
Bintray is [sunsetting](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/) and will no longer work starting on May 1st. It would be great to update the [astminer version](https://search.maven.org/artifact/io.github.vovak/astminer/0.2/pom) which is currently hosted on Maven Central, it appears the latest version was `0.2` and uses the `io.github.vovak` namespace. cc:

[2021-03-01 12:00] OCookman opened #125 "Error Parsing Javascript Files for Code2Vec"
I get the following error on cli-javascript branch (code2vec with default parameters):

Exception in thread "main" kotlin.TypeCastException: null cannot be cast to non-null type astminer.parse.antlr.SimpleNode
	at astminer.parse.antlr.javascript.JavaScriptElement.getElementInfo(JavaScriptMethodSplitter.kt:54)
	at astminer.parse.antlr.javascript.JavaScriptMethodSplitter.splitIntoMethods(JavaScriptM

[2021-03-02 07:05] egor-bogomolov commented on #125
Thanks for reporting, I will look into it!

[2021-03-03 12:04] egor-bogomolov commented on #125
Could you please share the JS file/method that causes failure?

[2021-03-31 20:37] dcoimbra commented on #125
@egor-bogomolov Hello, I have the exact same problem. I can't determine which specific method causes the exception to occur, but [this is the file where it happens](https://pastebin.com/cUuCgmwB). Appreciate any help.
The file is named web_socket.js

[2021-04-07 08:11] CplandS opened #130 "modify astminer to extract a specific path"
Thank you for your efforts.
I plan to use astminer to generate specific path_contexts. Specifically, I need to delete specific subtrees on the AST and replace them with specific nodes (such as "PRED").
I now have some questions about how to modify astminer:

1. Does the cpg generated by fuzzyc2cpg contain source location information?
2. Where can I find related documents of fuzzyc2cpg to complete

[2021-04-12 08:21] SpirinEgor commented on #130
Hi!
Sorry for the late answer.
As far as I understand your need, I can suggest such steps:
1. Extract AST from a file using the required parser (Fuzzy). If needed, split into methods.
2. Each FuzzyNode after that would represent the root of AST. You can traverse it in DFS order.
3. For each node you can get its children by using the `getChildren` method. After that, you can remove a specific node

[2021-04-15 08:38] #130 closed

[2021-04-20 14:06] vovak opened #131 "Fix master-dev"
We've had a bunch of tests failing in `master-dev` despite green builds on merge commits.
I've reverted `master-dev` to a stable state.

The current changes are in `master-dev-current`.
Before we merge it back into `master-dev`, we need to:
1. Fix failing and hanging tests
2. Fix misleading naming of tests: see `*.python.GumTreeJavaMethodSplitterTest`
3. Ensure that the CI build does not skip test

[2021-04-20 14:10] vovak commented on #131
cc @ivanrybin @Furetur @egor-bogomolov @illided: please use `master-dev-current` for pull requests for now

[2021-04-22 13:37] NURx2 opened #134 "[PY] Is it necessary to wrap input code blocks with a function for the code2vec option?"
Hi,

Thank you for this amazing project!

There is a description of the code2vec option in README:

How the algorithm splits code files into methods? Is it necessary to wrap input code blocks with a function?

Thanks,
Ainur

[2021-04-22 16:46] SpirinEgor commented on #134
Hi!
Nice to hear that you like our tool :)

Splitting into the methods is based on traversing the tree and comparing node type with type for method declaration. So, a parser would return AST for the whole file and the splitter will traverse this tree looking for something like `METHOD_DECLARATION` nodes. For each node with this type, the splitter would collect information about return type, name,

[2021-04-22 18:51] NURx2 commented on #134
Just checked, it seems it's really working for python without the function wrapping.

Thank you!

[2021-04-22 18:51] #134 closed

[2021-05-08 21:48] breandan commented on #124
FYI @bintray now returns `Forbidden!`:

https://dl.bintray.com/egor-bogomolov/astminer/io/github/vovak/astminer/astminer/0.6/astminer-0.6.jar

[2021-05-09 13:40] vovak commented on #124
Thanks. We’re now publishing artifacts on Space.

[2021-05-09 13:40] #124 closed

[2021-05-12 21:24] jsanket9578 opened #139 "Problem with AST Output for Java"
The Node Types in the AST Output for Java are not very specific. As can be seen below, "SimpleName" type is applicable for variables, methods as well as class names; which reduces its value.

![image](https://user-images.githubusercontent.com/55049530/118044709-a2a22880-b394-11eb-9842-147ab27c95c8.png)

Is there anything that can be done to improve upon this?

PFB the input source code I was using

[2021-05-13 00:20] vovak commented on #139
Hi @jsanket9578, thanks for reaching out.

You can use the type label of the parent node(s) to get context information for each SimpleName.

[2021-05-13 09:34] SpirinEgor commented on #139
Hi!
I can also suggest changing the parser. As I remember, `SimpleName` is a type from GumTree parser. Try to change to JavaParser maybe it will help you.

[2021-05-13 14:00] jsanket9578 commented on #139
Hi, thanks for the info. Can you also help me on how to change the parser wrapper to JavaParser? Currently I just built the code from the sources using cli.sh.

[2021-05-13 14:49] SpirinEgor commented on #139
You can specify java parser by passing a special key
[code]
(I was wrong, the alternative to the GumTree parser that we currently support is ANTLR parser).

For example, your complete command would be
[code]

[2021-05-18 14:24] dcoimbra opened #142 "JavaScript ANTLR parser unable to properly create AST of specific function"
I have a [specific JavaScript file](https://gist.github.com/dcoimbra/657d106fa37851bc929554f59c59e589) I wish to extract path contexts from at function level to use with code2vec. This file only has one function: it starts at line 18 and ends at line 158. The parser seems to be unable to create an AST for the entire function, stopping at line 91. If I use esprima, the AST is properly extracted.

I

[2021-05-18 15:46] SpirinEgor commented on #142
Hi!

As I can see, the parser can't process the if statement
[code]
So, first of all, this is the question to ANTLR4 parser, astminer is using it without any modifications. So, if the parser is unable to process the file or function, then there is nothing that we can do.

Secondary, I suppose that this incorrect code at all. `yield` operator is something similar to the `return` operator, but for g

[2021-05-18 19:30] dcoimbra commented on #142
Thank you for your answer. Yes, I suppose that if the code is incorrect, the parser wouldn't be able to properly figure out what should be there. I still find it strange that esprima seemingly correctly parses this code (at least, it does so silently. I might need to look at it again), but as you said this question would be better posed to ANTLR4 and not here.

Since this is not an issue with astm

[2021-05-18 19:30] #142 closed

[2021-05-24 12:17] fiskus2 opened #145 "Comma token missing from tokens.csv"
I generated code2vec data from a simple python file and noticed that there is no token for id 4:
[code]

From the path contexts it is clear that id 4 should be a comma.

Command:
`./cli.sh code2vec --lang py --project C:\Workspace\astminer\test_project --output C:\Workspace\astminer\test_output --split-tokens --granularity method --hide-method-name`

Python file:
[code]

[2021-05-24 12:41] fiskus2 commented on #94
@SpirinEgor

This seems to be incorrect. When you input a very simple python file, you still get these node types, although no such chain exists in the code:
[code]

node_types.csv:
[code]

command:
`./cli.sh code2vec --lang py --project C:\Workspace\astminer\test_project --output C:\Workspace\astminer\test_output --split-tokens --granularity method --hide-method-name`

This problem was also menti

[2021-05-24 13:32] SpirinEgor commented on #94
Hi!
Is it the only method in your `test_project`? And is it correct that you receive the same weird path that @SimoneBrigante mentioned?

[2021-05-24 16:15] fiskus2 commented on #94
@SpirinEgor Yes, it is the only method in the project.
I did not receive the exact same path but upon closer inspection it is the following sequence that keeps appearing in my [node_types.csv](https://github.com/JetBrains-Research/astminer/files/6533627/node_types.csv.txt) with an additional node at the start or the end:
[code]
This sequence is also included in @SimoneBrigante original post.
Perha

[2021-05-24 19:38] SpirinEgor commented on #145
Hi!
Yeah, it is a bug. I fixed it in #146. By the way, id 4 was corresponded not only to comma but also to NEWLINE and DEDENT tokens.

[2021-05-24 19:38] #145 closed

[2021-05-24 19:39] SpirinEgor commented on #139
I close it since there are no questions. But if you still have some, feel free to reopen.

[2021-05-24 19:39] #139 closed

[2021-05-24 19:40] SpirinEgor commented on #131
It was fixed in #140

[2021-05-24 19:40] #131 closed

[2021-05-24 19:46] SpirinEgor commented on #94
I check your example. These long chains indeed came from the ANTLR parser. For your example complete tree would be next:
[code]

Why this is so is a question for ANTLR, astminer is just a wrapper and does not change any parsing logic.

[2021-05-24 19:47] SpirinEgor commented on #116
I close it since there are no questions. But if you still have some, feel free to reopen.

[2021-05-24 19:47] #116 closed

[2021-05-25 16:51] fiskus2 commented on #94
My mistake. The generated Tree is correct according to Pythons grammar specification.

[2021-05-25 17:08] jsanket9578 commented on #139
Hi @SpirinEgor

Hi @SpirinEgor thanks for the reply. I forgot replying, the ANTLR parser has been really helpful. I couldn't find it in the documentation, it might be a good idea to add this in there.

[2021-05-31 18:50] SpirinEgor commented on #81
Hey!
It passed some time, but we finally implement PHP support (#148). You can check it and compare it with your own implementation. If you find some details that we didn't take into account feel free to point them.

[2021-05-31 18:50] #81 closed

[2021-05-31 18:52] SpirinEgor commented on #22
Since JavaScript was added and there are no questions at this moment I will close the issue. But feel free to open at any time if you have ones.

[2021-05-31 18:52] #22 closed

[2021-06-17 14:47] fiskus2 opened #154 "The beginning of a function is systematically favoured"
The extracted path contexts only cover the beginning of a function, if _maxContexts_ is small relative to the size of the code file.

Command:
[code]

Example code file:
[code]

Generated tokens.csv:
[code]

As you decrease/increase the _maxContexts_ the letters in tokens.csv are added/removed in the order in which they appear in the code file. I would expect the paths to be selected randomly, so

[2021-06-17 15:31] Furetur commented on #154
Hello!

I am not sure but I think that you can try using [shuffled](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin.collections/shuffled.html) as a quick workaround.

Like `.retrievePaths(node).shuffled().take(...)`

[2021-06-17 15:58] fiskus2 commented on #154
@Furetur Yes, that seems to work

[2021-06-20 09:55] #154 closed

[2021-06-20 10:06] Furetur commented on #154
@SpirinEgor I don't think that this issue should be closed. This is a possible design flaw.

[2021-07-09 09:36] binglinchengxiash opened #155 "How to extend to golang?"
I met some problems.not find class GoparserBase,I wonder how to write GoparserBase?
![image](https://user-images.githubusercontent.com/15050040/125057671-13876780-e0dc-11eb-8938-6a9591b789d0.png)

[2021-07-09 12:52] SpirinEgor commented on #155
Hi!
It's unclear to me what do you want from `GoParser` and `GoParserBase`. Could you provide more details about what do you want to do?

[2021-07-10 02:47] binglinchengxiash commented on #155
Sorry for not expressing clearly.I want to train code2vec model using go language,and I  use astiner to generate the input data needed by code2vec.I follow up this example to extend go language.
![image](https://user-images.githubusercontent.com/15050040/125149297-c69ea200-e16a-11eb-8fea-4eee3fa4a2d2.png)
 I have encountered some problems in step3.Can you give me some detailed descriptions?

[2021-07-11 02:17] binglinchengxiash opened #156 "Method is not split by "|" in released-0.6 version."
run command:
./cli.sh code2vec --lang py,java,c,cpp --project path/to/project --output path/to/results --maxL L --maxW W --maxContexts C --maxTokens T --maxPaths P  --split-tokens --granularity method
path_contexts.csv result:
![image](https://user-images.githubusercontent.com/15050040/125180800-19db2800-e231-11eb-84d0-7b6f64383119.png)

[2021-07-12 12:29] illided commented on #155
If you took go grammar from grammar repository try to take GoParserBase from
https://github.com/antlr/grammars-v4/blob/master/golang/Java/GoParserBase.java
and place it in the
src/main/java/me/vovak/antlr/parser
and run task again. Then you can write GoParser that will wrap parser from grammar.

[2021-07-12 13:59] SpirinEgor commented on #156
Hi!

Are you running the last version of the astminer (0.6.4)? I didn't reproduce you error, could you provide more details about how you compile and run astminer?

[2021-07-13 01:39] binglinchengxiash commented on #155
Thank you very much.I will try letter.

[2021-07-13 01:55] binglinchengxiash commented on #156
environment:
java
![image](https://user-images.githubusercontent.com/15050040/125377324-5e94c980-e3bf-11eb-84fb-b4fdd7393008.png)
gradle
![image](https://user-images.githubusercontent.com/15050040/125377366-70766c80-e3bf-11eb-8468-4c07f9f1a785.png)
data:
java-small https://s3.amazonaws.com/code2seq/datasets/java-small.tar.gz
step1:
      git clone -b realease-0.6 https://github.com/JetBrains-Resea

[2021-07-13 08:30] SpirinEgor commented on #156
Try to use `master-dev` branch instead of the release branch
[code]

[2021-07-13 08:36] binglinchengxiash commented on #155
I have implemented GoParser, but I don’t know how to implement GoMethodSpliter, do you know how to do it？GoMethodSpliter is used to generated methods from go source code.
![image](https://user-images.githubusercontent.com/15050040/125419589-ad77c256-747c-48cf-8e5b-10eaf8313082.png)

[2021-07-13 08:52] binglinchengxiash commented on #156
Thank you.I have solved my problems.

[2021-07-13 09:13] illided commented on #155
Now you need to split your Tree into subtrees and then create list of Function Info. You can search for examples in parse directory: every combination of parser and language has its own implementation of splitter and function info.

[2021-07-13 09:20] binglinchengxiash commented on #155
OK,thank you,I will search some examples later.

[2021-07-13 10:22] binglinchengxiash commented on #156
I used the 0.6.4 version, and I found a grammatical problem.
 ./cli.sh code2vec --lang java --project java-small/training --output output --maxL 8 --maxW 3 --maxContexts 500 --maxTokens 10000000 --maxPaths 10000000 --split-tokens --granularity method
![image](https://user-images.githubusercontent.com/15050040/125435737-b3f86ea3-1f50-45e5-a61b-56b8a57264f0.png)

[2021-07-13 10:37] SpirinEgor commented on #156
It's interesting, do you know, which code snippet causes this error?

[2021-07-13 10:44] binglinchengxiash commented on #156
I am n

[2021-07-13 11:23] binglinchengxiash commented on #156
I am sorry.I am not sure  which code snippet caused this error.
data:https://s3.amazonaws.com/code2seq/datasets/java-small.tar.gz
dir:java-small/training.
You can have a try.

[2021-07-13 11:52] #155 closed

[2021-07-13 13:19] SpirinEgor commented on #156
I found recently that this may be due to passing array into function. Sometimes someone uses this syntax:
[code]
It's quite a rare scenario and perhaps the JDT parser from GumTree can't handle it.

I can suggest you 2 options:
1. Try to change the parser. There ANTLR4 parser for Java too. It uses different grammar and therefore may help.
2. Add try...catch block to ignore unparseable files. Naviga

[2021-07-13 23:49] binglinchengxiash commented on #156
Thanks for your detailed reply.
I have tried your two methods to solve this problem, but they both caused the same problem.
![image](https://user-images.githubusercontent.com/15050040/125539243-ed71ab19-da9f-4224-acb3-25913fa698ac.png)

[2021-07-14 00:30] binglinchengxiash opened #158 "How to run examples?"
I am not familiar with gradle.Can you give me some detailed steps to run these examples.
![image](https://user-images.githubusercontent.com/15050040/125542099-28d137bf-920a-4857-8ce3-3dfc0661b1bb.png)

[2021-07-14 10:23] illided commented on #156
Found the bug in Antlr Java function info. Creating pull request with possible fix. Thanks for telling about such bug!

[2021-07-14 10:23] illided commented on #156
#159

[2021-07-14 10:24] illided commented on #156
PR with the fix: #159
You can try it yourself and tell us if problem is gone.

[2021-07-14 10:37] SpirinEgor commented on #158
Hi!

We are reworking astminer to make its usage more obvious and easy. Therefore, we temporarily disabled the quick run of all examples. But there is a straightforward solution to run one of them. For example, you want to run `AllJavaFiles`, so open the corresponding file and add an entry-point function at the end of the file:
[code]

Since you are opened the project from IntelliJ IDEA you will s

[2021-07-14 10:39] binglinchengxiash commented on #156
OK,I will try later.

[2021-07-14 10:41] SpirinEgor commented on #156
Thanks @illided! Already merged it into the `master-dev`. @binglinchengxiash you can update your local version (`git pull`) and then rebuild the shadow jar. It should fix your error.

[2021-07-14 11:28] binglinchengxiash commented on #156
Thank you,it is OK.I have no problems.

[2021-07-14 11:28] #156 closed

[2021-07-14 11:32] binglinchengxiash commented on #158
I have followed your steps.But I it caused a problem.
![image](https://user-images.githubusercontent.com/15050040/125615076-4779c6c5-9437-4e52-b80c-2de5364e02ac.png)
source code:
![image](https://user-images.githubusercontent.com/15050040/125615112-f777738f-7e97-49af-be2e-177a0b157909.png)

[2021-07-14 12:00] SpirinEgor commented on #158
Oh, you want to run an example written on Java. The problem is caused because the example tries to parse not java code. Add if on 32 line, at the beginning of visitor:
[code]

[2021-07-14 12:32] binglinchengxiash commented on #158
Thank you for replying so quickly.But I have found the four csv files are empty.Maybe you can have a try.

[2021-07-14 14:25] SpirinEgor commented on #158
My fault, use this condition:
[code]

[2021-07-15 01:56] binglinchengxiash commented on #158
Thank you very much.I have solved my problems.

[2021-07-15 01:56] #158 closed

[2021-07-15 02:23] binglinchengxiash opened #162 "Ask a question about source code?"
May I ask you a question about the source code?
What is the meaning of EnclosingElement?
`data class EnclosingElement<T>(val type: EnclosingElementType, val name: String?, val root: T)`
Why are you collecting EnclosingClass?
![image](https://user-images.githubusercontent.com/15050040/125718108-ecbf66fe-ff4b-4281-acf7-5db0beba82ba.png)

[2021-07-27 14:32] SpirinEgor commented on #162
Hi!
Sorry for the late answer :(
EnclosingElement is a special object that contains useful information about trees. In your screenshot, the enclosing element contains information about the class where the function appears. It may be used to identify different functions with the same signatures (e.g. multiple `toString` methods).

[2021-07-27 14:32] #162 closed

[2021-08-01 03:54] xuzexin opened #170 "How to use astminer with code2vec?"
Hi!

I'm trying to convert  c source files to vectors for afterwards ML methods.First I use astminer to process the files.
./cli.sh ./fuzzy_c_ast.yaml

![config_yaml](https://user-images.githubusercontent.com/15715958/127758627-8f0468ee-8b50-4642-af2b-43a168a04e96.png)

some errors  as folows:

![errors](https://user-images.githubusercontent.com/15715958/127758444-90dc261a-974e-48ad-9196-6b171fe35

[2021-08-01 05:59] xuzexin commented on #170
my fault,I changed the storage name to code2vec and got 4 files:

![code2vec](https://user-images.githubusercontent.com/15715958/127760916-84599231-1f4e-4ea4-9b07-149199dfb917.png)
1.should I ignore the errors while processing?
![errors](https://user-images.githubusercontent.com/15715958/127760992-7398c28d-4621-4cf6-8b42-97ae8b66195f.png)

2.what should I do next to use code2vec to convert them to

[2021-08-02 09:55] SpirinEgor commented on #170
Hi!

1. Could you provide a file where these errors occur? It's possibly because of bad preprocessing (we need to resolve all macroses before parsing), I will check if the pipeline is correct.
2. After running `astminer` you can use `path_contexts.c2s` file as input to code2vec model. Here is the description of the [output format](https://github.com/JetBrains-Research/astminer/blob/master-dev/docs

[2021-08-07 10:36] #170 closed

[2021-10-18 19:47] Avra2 opened #191 "Extracting paths from asminer"
Hello,

I have been looking around code2vec lately. I have a set of Python samples that I am just looking to extract their embeddings via code2vec, but it seems code2vec repository is about trained on Java, so I am not sure please how to get Python embeddings. Is it done by your astminer?

[2021-10-18 20:04] vovak commented on #191
Hi @Avra2, thank you for the question.

With astminer you can extract the representations of code required to train code2vec on Python code. You will need to train the embeddings yourself.

[2021-10-18 20:04] #191 closed

[2021-10-21 00:18] Avra2 opened #192 "Error running astminer"
Hello,

I downloaded JDK 14, gradle 6.3 on Windows 11 and succesfully built astminer at build/astminer/astminer.jar. I tried to run Python parser to generate code2vec paths but I got error:

`$ ./cli.sh python.yaml Docker image not found, will use build/shadow/astminer.jar Error: A JNI error has occurred, please check your installation and try again Exception in thread "main" java.lang.Unsupported

[2021-11-01 04:38] Avra2 commented on #192
Thank you! It worked now and I got the following inside `output` folder:

![image](https://user-images.githubusercontent.com/45768058/139622355-824bdd70-288f-4010-a6d8-9cf210a6be05.png)

Which of these I should feed to code2vec model please next? Each file has lots of output for 5 files, which is too much. I am confused as to what to do next please?

[2021-11-01 08:24] SpirinEgor commented on #192
You need to feed files from the `data` folder. See [documentation](https://github.com/JetBrains-Research/astminer/blob/master/docs/storages.md#code2vec) for files description.

[2021-11-01 12:55] Avra2 commented on #192
@SpirinEgor. Your help is invaluable. Thank you.

[2021-11-01 13:46] SpirinEgor commented on #192
44 rows mean 44 methods in python files under the passed `inputDir` path. It seems that you ran astminer on test data. You can traverse all `.py` files in `/src/test/resources` and count appear functions (all expressions started with `def`). There are exactly 44 functions.

Of course, the more files you provide the more lines in result files. I may advise you not to open such files with GUI editor

[2021-11-01 13:46] #192 closed

[2021-11-05 22:56] Avra2 commented on #192
Hello Egor,

For data split inside `inputDir`, I did have 3 folders inside `train, test, val`, but it does not produce 3 `.c2s` files, but I have got only one big file in `.c2s` format and not in `c2v` format, so I am not even sure if I can train `code2vec` with `.c2s` format? Although I am not sure why I did not get 3 files `c2s` one for train, test and split respectively please? Below is output:

[2021-11-06 11:33] SpirinEgor commented on #192
Hi!
Generally, you need a validation set to properly choose hyperparameters and control the training process (e.g., prevent overfit by periodically checking the accuracy on the validation set). If you think that you don't need it, you can keep it empty.

Code2vec and code2seq use the same format, so you can use these files to train both models. If this confuses you, you can rename the extension to

[2021-11-06 17:03] Avra2 commented on #192
Thank you. Can you guide me please as I have no idea what I should add to this dictionary. As for Java, code2vec authors create this file `dict.c2v` automatically with their preprocessor, so I am not sure how they did that. Can you please give me a sample file at least? Can you add automatically also produce `dict.c2v`  or this is not possible?

[2021-11-07 09:54] SpirinEgor commented on #192
This file contains python counters, and therefore it is not possible to save them from Kotlin. You can download preprocessed data, there are links in the readme file in the code2vec repository. It also contains this dict file so you can open it and see what is inside.

It's better to open the issue in the code2vec repository and ask authors how to collect those counts. You should use `train.c2s` t

[2021-11-15 01:40] estiver-alvarez opened #198 "Error Parsing C++ Files for Code2Seq"
Hi sir, I want to take this occasion to express my admiration for your great job extremely useful for my Bachelor's thesis. 
Currently, I am trying to convert my dataset of about  100000 cpp files, but always I am getting this error.

![image](https://user-images.githubusercontent.com/1153297/141706662-4048307f-7d48-4036-ab79-9e4d57e1f5a3.png)

Originally thought that the issue was related to the

[2021-11-15 01:43] estiver-alvarez commented on #198
this is the configuration that currently I'm applying.

![image](https://user-images.githubusercontent.com/1153297/141709418-d7f3623b-532e-4254-b02f-df2d1a59ba47.png)

Thanks

[2021-11-15 01:45] estiver-alvarez commented on #198
this is the configuration that currently I'm applying.

![image](https://user-images.githubusercontent.com/1153297/141709519-b1ab10ac-7323-4f63-9b18-db8a59518e15.png)

[2021-11-15 08:30] illided commented on #198
Hi! At the start astminer will tell you how many threads will be created (by default only 1 but you can change it in the config with `numOfThreads` option). Could you send us full console output and `log.txt` (it should be created in root of the project)?

[2021-11-15 12:26] SpirinEgor commented on #57
Since the issue discussion, we significantly improved the `astminer`. Check our new documentation to see how it works now. If you still have any questions, feel free to open an issue for that.

[2021-11-15 12:26] #57 closed

[2021-11-15 12:27] SpirinEgor commented on #72
Close this due to inactivity. Feel free to reopen in case of similar questions or issues.

[2021-11-15 12:27] #72 closed

[2021-11-15 12:35] SpirinEgor commented on #80
We completely reworked logic with parsers, and therefore adding new should be an easy task. Look at [parser](https://github.com/JetBrains-Research/astminer/blob/master/docs/parsers.md) documentation and [tree-sitter](https://github.com/JetBrains-Research/astminer/blob/master/docs/tree_sitter.md) documentation to see instruction how to do this. Adding a new parser for C should be a hard problem, pr

[2021-11-15 12:35] #80 closed

[2021-11-15 13:56] SpirinEgor commented on #84
Close this due to inactivity, if you still have any questions, don't hesitate to reopen the issue back.

[2021-11-15 13:56] #84 closed

[2021-11-15 13:57] SpirinEgor commented on #125
We reworked CLI and parser logic to make it easier for you to use. Try new versions to check whether it works or not for you. If the issue is still not resolved, please reopen this issue!

[2021-11-15 13:57] #125 closed

[2021-11-15 14:07] SpirinEgor commented on #15
For now, we completely reworked the current documentation and installation instructions.
See [docs](https://github.com/JetBrains-Research/astminer/tree/master/docs) folder to read docs about each conceptual part of the `astminer`.
[README](https://github.com/JetBrains-Research/astminer/blob/master/README.md) file now contains usage instructions.

We will continue to support this in the future. If

[2021-11-15 14:07] #15 closed

[2021-11-15 16:30] estiver-alvarez commented on #198
of course this the file, thanks for you suport.
[log.txt](https://github.com/JetBrains-Research/astminer/files/7540124/log.txt)

[2021-11-15 21:31] illided commented on #198
It's really strange. Astminer created only 1 thread, but some subcomponents created multiple threads. Could you also provide us with some of your's system info: OS, gcc compiler version, JDK version etc. I think anything can help :)

In the meantime you can run astminer from docker. For this run `./gradlew shadowJar` and `docker build -t voudy/astminer .` in the root of the project. From now on cl

[2021-11-18 04:31] estiver-alvarez commented on #198
@illided Thank you very much for your support. unfortunately still I have the issue,although this time the processing went so far than the previous tried, but likewise this couldn't make it at least 20%, the strangest it was that this time I executed it over cli and docker. the app is being run over an instance machine with 4 cpu and 132 gb ram, under linux(ubuntu 20.04 and debian 10) and with sta

[2021-11-18 21:04] illided commented on #198
Ok, now it's super strange :)
Is it possible for you to share the data on which you run the astminer? If the dataset is very large at least a small part.

[2021-11-18 21:10] illided commented on #198
Also, if you are in a real hurry, you can implement C ++ support using a tree sitter grammar.

We are planing to do this in the future, but PR is welcome.

[2021-11-19 15:09] estiver-alvarez commented on #198
@illided of course very kind of you :). here in the next link you will find the dataset that I'm trying to process.
https://drive.google.com/file/d/1CyNKBDYequb7izMAsk3wHj9A0HOWZsfc/view?usp=sharing

[2021-12-15 18:55] pppyx commented on #198
I'm now running into the same situation:OOM error when trying to create thread, and my dataset is also very large.

Hope you will find out the reason soon, thanks!

[2021-12-15 19:06] illided commented on #198
Sorry, didn't had a time to respond.

As I suspected fuzzy parser creates multiple threads and can't close them properly. In fact it creates up to 6 threads for each file! This issue is fixed in new version of fuzzy parser, but unfortunately it's not compatible with astminer and we have no time right now to fully rewrite this part :(

You can try to experiment with the code, or, as i said earlier,

[2021-12-15 19:16] pppyx commented on #198
Hi, illided. Thank you for your prompt reply, I write a shell script to run astminer on a small batch of dataset each time and concat the path_context.c2s, I think this can be a quick solution for this problem temporarily.

[2021-12-15 19:18] illided commented on #198
Sounds interesting! Could you share this solution here in case anyone will get the same problem?

[2021-12-15 19:33] estiver-alvarez commented on #198
please, may you share the script .

[2021-12-16 08:22] RichardZapanta opened #200 "Integrating astminer with code2vec for C source codes"
Hello!

I was able to extract `path_contexts.c2s` file thanks to astminer. However, my goal is to extract code vectors from the given source codes. With the `path_contexts.c2s`, I don't know how to integrate it with code2vec.

Thank you!

[2021-12-16 10:34] SpirinEgor commented on #198
Hi everyone!
Running with small batches and concatenating after looks interesting. But you also should be aware of the vocabulary collected for each batch. You need to disable the `nodesToNumber` property in the config.

[2021-12-16 10:39] SpirinEgor commented on #200
Hello!

`astminer` is the tool for mining data. It's not providing any functionality to train model and extract code vectors. You should see the official [code2vec](https://github.com/tech-srl/code2vec) repository with code2vec implementation. The output format of `astminer` should be suitable for the original model, if it is not then provide examples if possible.

[2021-12-16 14:15] pppyx commented on #198
Hi, sorry for not reply in time, this is my shell script, and I haven't fully tested it, you can refer to it as a sample code.
This code snippet is for validation dataset, for train/test dataset, the code is similar.

[code]

* A sample model.yaml:(not include input&output Dir)

[code]

[2021-12-21 07:18] SpirinEgor commented on #200
Since there are no more questions, I close it. But don't hesitate to reopen if you have new ones.

[2021-12-21 07:18] #200 closed

[2022-01-26 15:42] ma0889 opened #202 "need help"
Hi,

Thank you so sharing this code on GitHub.
I would like to run this tool on C datasets and I have no experience with Gradle application.
Could you please help me with this issue? I read the ReadMe file and I lost.
First, when I run "gradle shadowJar" I got an error:

![image](https://user-images.githubusercontent.com/92268336/151192212-acac9711-d513-40cc-b658-d8866c03b677.png)

Also, do I have

[2022-01-27 08:43] SpirinEgor commented on #202
Hi!

You should you `./gradlew shadowJar` in the root directory of `astminer`. Probably, there is a problem with versions. Could you provide the output of the `./gradlew --version`?

[2022-01-31 01:21] ma0889 commented on #202
Hi,
Thanks for your response!
It works!! I check the version.

[2022-01-31 11:54] SpirinEgor commented on #202
Nice to hear it! If you have any other questions, please feel free to open new issues.

[2022-01-31 11:54] #202 closed

[2022-02-07 15:48] RichardZapanta commented on #200
Hi @SpirinEgor ,

Thank you for your response. I was trying to extract the path of our dataset (1946 C source codes) and encountered this issue

![273161274_797504391160557_8118451157871728253_n](https://user-images.githubusercontent.com/61451615/152821625-9763aa7d-0e47-434a-bb7e-3be55eda66c7.png)

Is there a way to fix this issue? I tried to increase the number of processes that my device can run

[2022-02-07 16:12] SpirinEgor commented on #200
Hi!

This is a known problem, see #198 for more details. TL;DR fuzzy parser needs to be replaced with another, e.g. `tree-sitter`. There is no plan to do it in the short term, probably we will do it in the summer. Before that, you can read [instruction](https://github.com/JetBrains-Research/astminer/blob/master/docs/tree_sitter.md) about adding a new language for `tree-sitter` and do it by yoursel

[2022-02-22 03:38] ljiahao opened #204 "File information of path_context result"
Hi,
It is cool that Astminer can support different granularities e.g., file, function. However, I find if I choose the function level, I will lose the file information. It seems I cannot know which file a function belongs to with function-level granularity. Hence, is there a method to keep the file name for functions?

Thanks

[2022-02-22 04:57] #204 closed

[2022-02-22 09:28] SpirinEgor commented on #204
You may use metadata storage for that. Just add `collectMetadata: true` to your config.

[2022-02-22 12:34] ljiahao commented on #204
Thanks, I can get the file information now.

[2022-03-15 16:44] arghavanmo opened #205 "different paths for same code content in python"
Hi,
Thank you for the tool :)

When I apply astminer (in code2vec setup) on two different files but with the same content, the model returns different path-contexts for each file (only few numbers of common path). However, the AST tree and following all the paths are the same in both files.

Here is the code:

[code]
I attached path_context, node_types and paths files. i changed the path_context f

[2022-03-15 17:49] SpirinEgor commented on #205
Hi!
Thank you for your feedback :)

The number of paths per tree exponentially increases with tree size. To handle this, we restrict the total number of paths by `maxPathContextsPerEntity ` parameter in config. You can set it to null or remove to save all paths from the tree.

[2022-03-15 21:14] arghavanmo commented on #205
Thank you for your quick response. I remove `maxPathContextsPerEntity` from config and now all paths are the same for both files :)

[2022-03-15 21:16] #205 closed

[2022-04-01 14:53] yufpan111 opened #206 "problem with running "gradle shadowJar""
![image](https://user-images.githubusercontent.com/64066359/161286675-1bdfe028-decb-4b5b-94a0-9f0ae6a78c92.png)

Hi! This is the first time I use gradle, hope to get some advice! These problems occur when I run _gradle shadowJar_ on the terminal, the Chinese in the figure indicate "Error: class repetition".

Really need your help!

[2022-04-02 09:56] SpirinEgor commented on #206
Hi!

`gradle` may execute global Gradle version. Try to use
[code]

[2022-04-02 14:34] yufpan111 commented on #206
Thank you for your response, it works! But there's a new problem:
![image](https://user-images.githubusercontent.com/64066359/161387935-5ba49ab1-65c5-471c-b67e-b04c39063fe4.png)

I'm sorry to bother you again... It seems like a simple problem, but I still can't solve that:(

[2022-04-03 09:37] SpirinEgor commented on #206
First time see this problem and can't reproduce it. Possibly, there is an issue in intermediate dependencies.

Try to add maven `isAllowInsecureProtocol = true` inside repositories block in build.gradle.kts.

[2022-04-06 05:13] colebuckleyy opened #207 "cli.jar"
I'm trying to use astminer for code2vec but I am pretty inexperienced with using github. How can I download the cli.jar file?

[2022-04-06 06:27] colebuckleyy commented on #207
Ok I'm trying to run the gradle shadowJar on the path and I get the error,

 FAILURE: Build failed with an exception.
* What went wrong:
Execution failed for task ':compileKotlin'.

is there any way to fix this?

[2022-04-06 09:29] SpirinEgor commented on #207
Hi!

Try to use
[code]

Also, if it doesn't help, please provide details about Java and Gradle versions (`./gradlew --version`).

[2022-04-06 18:49] colebuckleyy commented on #207
I tried using gradlew shadowJar and it seems I get the same error, heres what I get for --version.
------------------------------------------------------------
Gradle 6.8.3
------------------------------------------------------------

Build time:   2021-02-22 16:13:28 UTC
Revision:     9e26b4a9ebb910eaa1b8da8ff8575e514bc61c78

Kotlin:       1.4.20
Groovy:       2.5.12
Ant:          Apache Ant(TM)

[2022-04-07 01:06] colebuckleyy commented on #207
Ok I got the build to run successfully, in order to use this with code2vec someone said to download the cli.jar from astminer. Is that the same file as astminer.jar. Sorry for the trouble

[2022-04-07 12:22] SpirinEgor commented on #207
I see that you have Java 8, but in order to work with `astminer` you need at least Java 11.

Nevermind, `cli.jar` is an old name for `astminer.jar`. Use `astminer.jar` with YAML config to run the tool.

[2022-04-08 06:31] colebuckleyy commented on #207
I'm trying to run the cli but I get this error
![image](https://user-images.githubusercontent.com/77705009/162377799-f331068a-7e39-4ad8-b3fc-7b462a67c23c.png)

[2022-04-08 10:37] SpirinEgor commented on #207
Well, hard to say by looking at this stacktrace. Probably there is a problem with connecting the fuzzy parser to the astminer.

I don't understand, are you able to create `astminer.jar` on your own, or did you just download it from somewhere?
Maybe it's better to use a docker that already provides all necessary dependencies, see `cli.sh`?

[2022-04-08 10:58] colebuckleyy commented on #207
Yes I was able to do on my own it after I used java 11, I'll try to use docker

[2022-04-13 06:19] RichardZapanta commented on #200
Hi @SpirinEgor ,

based from what I understand, we would need to replace fuzzy with tree-sitter. I tried following the [instruction](https://github.com/JetBrains-Research/astminer/blob/master/docs/tree_sitter.md), but it output a tree-based representation of my input C source code in the terminal . I'm not sure what will be my next course of action for this. Should I use this as my input for code2

[2022-04-13 08:11] SpirinEgor commented on #200
Hi!

Instruction describes how to install tree-sitter parser for specific language on your machine. The next step is to support this parser inside `astminer`. I suggest you to check [tree-sitter support for Java](https://github.com/JetBrains-Research/astminer/tree/master/src/main/kotlin/astminer/parse/treesitter/java) as a reference:
- `Factory`, `Parser`, and `FunctionSplitter` would be quite ide

[2022-04-15 14:38] Avra2 opened #208 "Looping over AST trees to generate paths between terminals"
Hello Dear JetBrains team,

Regarding you astminer program. I was wondering if it generates AST paths between all terminals similar to how code2seq works please? If yes, what parser you used to generate AST in the first place? Then can you please give hints how you looped over that parsed AST tree to extract all paths between all terminals in the AST tree?

Regards,

[2022-04-18 09:30] egor-bogomolov commented on #208
Hello @Avra2! You can check the list of parsers used to build ASTs for different languages in the README. Astminer indeed generates paths between leaves of the tree. You can check the code for it [here](https://github.com/JetBrains-Research/astminer/blob/master/src/main/kotlin/astminer/paths/PathWorker.kt). In short, we iterate the tree bottom-to-top, keep track of all vertical paths from leaves t

[2022-04-27 13:01] Avra2 commented on #208
@egor-bogomolov . Thank you very much.

[2022-04-27 13:01] #208 closed

[2022-04-27 13:02] Avra2 opened #209 "can astminer extract control flow of a source code?"
Hello JetBrains Team,

I understand that your tool is supposed to extract paths from AST of a source code, do you have similar tools that extract control flow graph of a source code please?

Thanks.

[2022-04-27 19:31] egor-bogomolov commented on #209
Hello! Astminer currently does not have this functionality. We are working on extending [PsiMiner](https://github.com/JetBrains-Research/psiminer) with functionality for mining more complex graph representations such as CFG and DFG, stay tuned :slightly_smiling_face:

[2022-04-27 23:40] Avra2 commented on #209
@egor-bogomolov. Any expectations please when this tool should be published?

[2022-04-27 23:40] #209 closed

[2022-04-28 06:41] egor-bogomolov commented on #209
@Avra2 I expect to have a working prototype for Java in May. Not yet a stable version and likely with some performance issues, but I can ping you to try it :slightly_smiling_face:
What is your use case, and which languages do you need?

[2022-05-03 12:24] maizhidang commented on #206
Hello, I am using gradle for the first time, I have the following error when I run the command gradle shadowJar, how can I solve it? Thanks！
Really need your help!
![image](https://user-images.githubusercontent.com/82823886/166452149-1a7e830b-f345-41bf-9f63-538d6a3ab99b.png)

[2022-05-27 03:37] #207 closed

[2022-05-27 03:49] colebuckleyy opened #211 "Fuzzy error"
I'm trying to parse c files using the fuzzy parser and I seem to get these errors.
![fuzzy_error](https://user-images.githubusercontent.com/77705009/170625483-a9ee2e16-e1bd-422c-ae59-657d775a22fe.PNG)

[2022-07-10 10:08] 850tomato opened #212 "How to add a new language?"
Great Project!
    I have a question about how to add a new language. I see the step 3 "Implement a small wrapper around the generated parser.".  But how I make it work after I wrote the wrapper. Should I use some command?
   Looking forward your replay. Thanks.

[2022-07-11 20:49] vovak commented on #212
Hi @850tomato, thanks for reaching out.

[The corresponding doc entry](https://github.com/JetBrains-Research/astminer/blob/b20af5306dbf33c57575007d7259bb315d94b3a3/docs/parsers.md) was a bit out of date — thanks for helping us spot it. I've just updated it.

I suggest you use [JavaParser](https://github.com/JetBrains-Research/astminer/blob/5692fa522863b76b0fe2260a075cdba402fe1122/src/main/kotlin/a

[2022-07-18 21:02] sadiasahar opened #214 "Is it possible to extract shortest path between two nodes?"
Is it possible to extract shortest path between two nodes?
how can I get the shortest path?

[2022-07-26 12:12] adkonr opened #215 "Output format code2vec"
Hello everyone,

I am trying to parse Cpp files to the Code2Vec format for further processing.
But when I am running the cli file with the following config, the output is saved as .c2s instead of the desired .c2v format.
Is this an error?
If no, how do I get the code2vec format?

Thanks for your help!

inputDir: dataset/input/
outputDir: output

parser:
  name: fuzzy
  languages: [cpp]

label:
  n

[2022-08-10 02:28] Avv22 commented on #209
@egor-bogomolov. Hello Egor. Is there any update on your tool please to extract control flow graph from source code? I am interested only in Java and Python.

[2022-09-19 09:12] ngohlong opened #216 "Manage the number of output path contexts"
Hello,

I am using astminer to extract path contexts into code2vec format. By modifying the filter in the config (.yaml file), I can remove some long paths. But somehow, when using a big size for the filter, astminer produces more paths than the number of input code snippets.

Could you please explain this problem to me? And it would be great if you can show me the way to manage exactly the number

[2022-10-21 18:34] Ytz-Ichi opened #217 ""No such file or directory" error while parsing C++ code"
Hi, I am not fluent in English so I am using DeepL, so please forgive me if I am using strange expressions.
I have extracted some C++ source code in IBM/Project_CodeNet and am trying to parse them, but the following error message appears frequently and finally stops with an error.

[code]

The curious thing about this error is that it does not occur on initial startup, but only after an attempt to

[2022-10-24 14:31] Ytz-Ichi commented on #217
Config file.

[code]

[2022-11-10 16:08] egor-bogomolov opened #218 "C/C++ tests fail on M1"
Currently, Astminer fails when trying to run on the Apple silicon chip. The possible reason is that the library version we use for parsing C/C++ is not compatible with M1 processors.